.btn {
  border: 2px solid transparent;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &:focus {
      outline: none;
  }

  &.primary {
      border-color: var(--color-black);
      background-color: transparent;
      color: var(--color-black);
      font-size:calcRem(17);
      @include NeutraText-DemiAlt;
      text-transform:   uppercase;
      padding: calcRem(9, 20, 7);

      @include respond-above(sm) {
          font-size: get-vw(25px);
          padding-top: get-vw(13.5px);
          padding-right: get-vw(28px);
          padding-bottom: get-vw(13.5px);
          padding-left: get-vw(28px);
      }

      &.big {

        @include respond-above(sm) {
          font-size: get-vw(29px);
          padding-top: get-vw(14.5px);
          padding-right: get-vw(30.5px);
          padding-bottom: get-vw(14.5px);
          padding-left: get-vw(30.5px);
        }
      }
      // @include respond-above(md) {
      //   font-size: calcRem(16);
      //   padding: calcRem(9, 16, 6);
      // }

      // @include respond-above(lg) {
      //   font-size: calcRem(20);
      //   padding: calcRem(10, 18, 7);
      // }

      // @include respond-above(xl) {
      //   font-size: calcRem(30);
      //   padding: calcRem(16, 27, 13);
      // }

      &:hover {

      }

  }

}
