.btn {
  border: 1px solid transparent;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  /*&:focus {
     outline: none;
  }*/

  &.primary {
      border-color: var(--color-black);
      background-color: transparent;
      color: var(--color-black);
      @include NeutraText-BoldAlt;
      text-transform:   uppercase;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1.05px;
      padding: 15px 34px 12px;

      @include respond-below(md) {
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.82px;
        padding: 13px 30px 10px;
      }

      // @include respond-above(sm) {
      //     font-size: get-vw(25px);
      //     padding-top: get-vw(13.5px);
      //     padding-right: get-vw(28px);
      //     padding-bottom: get-vw(13.5px);
      //     padding-left: get-vw(28px);
      // }

      &.big {

        @include respond-above(sm) {
          font-size: get-vw(29px);
          padding-top: get-vw(14.5px);
          padding-right: get-vw(30.5px);
          padding-bottom: get-vw(14.5px);
          padding-left: get-vw(30.5px);
        }
      }

      &:hover {

      }
      &:focus, &:active {
          outline: 2px solid var(--color-black);
      }

  }

  &.secondary {
    border-color: var(--color-text);
    color: var(--color-text);
    @include NeutraText-BoldAlt;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.05px;
    padding: 15px 35px 12px;

    &:hover {
      background: var(--color-text);
      color: var(--color-white);
    }
    &:focus, &:active {
      outline: 2px solid var(--color-text);
    }
  }

}
