.btn {
  border: 1px solid transparent;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 1;

  &.primary {
      border-color: var(--color-black);
      background-color: transparent;
      color: var(--color-black);
      font-size: 14px;
      @include ProximaNova-Reg;
      text-transform:   uppercase;
      padding: 13px 33px;
      letter-spacing: 1.4px;
      line-height: 18px;

      &.dark {
        background-color: var(--color-black);
        color: var(--color-white);

        &:hover {
          background: transparent;
          color: var(--color-black);
        }
      }

      &:hover {
        background: var(--color-black);
        color: var(--color-white);
      }

      &:focus, &:active {
        outline: -webkit-focus-ring-color auto 1px;
      }
  }

  &.secondary {
      border-color: var(--color-nav-bg);
      background-color: var(--color-nav-bg);
      color: var(--color-black);
      font-size: 14px;
      @include ProximaNova-Bold;
      text-transform:   uppercase;
      padding: 12px 33px;
      letter-spacing: 1.4px;
      line-height: 18px;

      &:focus, &:active {
        outline: -webkit-focus-ring-color auto 1px;
      }
  }

}
