.btn {
  border: 2px solid transparent;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  line-height: 1;

  &:focus {
      outline: none;
  }

  &.primary {
      border-color: var(--color-black);
      background-color: transparent;
      color: var(--color-black);
      font-size: 14px;
      @include ProximaNova-Bold;
      text-transform:   uppercase;
      padding: 15px 36px 14px;
      letter-spacing: 1.4px;
      line-height: 18px;

      // @include respond-above(sm) {
      //     font-size: 25px;
      //     padding: 14.5px 28px 12.5px;
      // }

      // &.big {

      //   @include respond-above(sm) {
      //     font-size: 29px;
      //     padding: 18px 30.5px 15px;
      //   }
      // }

      &.dark {
        background-color: var(--color-black);
        color: var(--color-white);

        &:hover {
          // background: var(--color-white);
          background: transparent;
          color: var(--color-black);
        }
      }

      &:hover {
        background: var(--color-black);
        color: var(--color-white);
      }
  }

  &.secondary {
      border-color: var(--color-nav-bg);
      background-color: var(--color-nav-bg);
      color: var(--color-black);
      font-size: 16px;
      @include ProximaNova-Bold;
      text-transform:   uppercase;
      padding: 14px 42px 13px;

      @include respond-above(sm) {
        font-size: 34px;
        padding: 24px 60px 22px;
      }
  }

}
