.full-width-slider--wrapper {
  padding: 80px 0;

  @include respond-below(lg){
    padding: 50px 0;
  }

  @include respond-below(md){
    padding: 25px 0;
  }
    .swiper-slide {

      @include respond-above(sm) {
        height: 100%;
        max-height: get-vw(991px);
      }
    }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }
}

.swiper-container {
  // margin-bottom: get-vw(56px);
  width: auto !important;

  .swiper-wrapper {
    // padding-bottom: get-vw(20px);
    .swiper-slide {
      // overflow: hidden;
      // width: 100.1%;
      display: flex;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--color-nav-bg);
        opacity: 0.5;
      }
    }

    .swiper-slide-active {
      &:after {
        display: none;
      }
    }
  }
  .swiper-button-next, .swiper-button-prev {
    transform: translateY(-50%);
  }
  &.swiper-container-horizontal {

    .custom-swiper-pagination {
      bottom: inherit;
      position: relative;
      margin: 20px 0 0;

      @include respond-below(lg) {
        margin: 16px 0 0;
      }

      @include respond-below(md) {
        margin: 12px 0 0;
      }

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;

        @include respond-below(lg) {
          width: 8px;
          height: 8px;
        }

        @include respond-below(md) {
          width: 6px;
          height: 6px;
        }

        @include respond-below(sm) {
          width: 10px;
          height: 10px;
        }

        &-active {
          background: var(--color-black);
        }
      }
    }
  }

  .swiper-buttun-background {
    background: var(--color-article-bg);
    width: 89px;
    height: 117px;

    @include respond-below(lg) {
      width: 64px;
      height: 83px;
    }

    @include respond-below(md) {
      width: 48px;
      height: 63px;
    }

    @include respond-below(sm) {
      background: var(--swiper-button-background);
    }

    img {
      width: 33px;

      @include respond-below(lg) {
        width: 23px;
      }

      @include respond-below(md) {
        width: 17px;
      }
    }

    &:after {
      content:'';
    }

    &.swiper-button-next {
      img {
        transform: rotate(180deg);
      }
    }
  }

  &.featured-article {

    // .swiper-slide {
    //   @include respond-below(sm) {
    //     padding: 0 23px;
    //   }
    // }
    .swiper-buttun-background {
      width: 3.0625rem;
      height: 3.6875rem;

      @include respond-above(sm) {
        width: 4.16667vw;
        height: 5.41667vw;
      }

      img {
        width: .8125rem;

        @include respond-above(sm) {
          width: 1.35417vw;
        }
      }
    }

    .swiper-button-next {
      right: 0;

      @include respond-below(sm) {
        top: 23%;
        transform: translateY(-23%);
        display: flex !important;
      }

      @include respond-above(sm) {
        right: get-vw(90px);
      }
    }

    .swiper-button-prev {
      left: 0;

      @include respond-below(sm) {
        top: 23%;
        transform: translateY(-23%);
        display: flex !important;
      }

      @include respond-above(sm) {
        left: get-vw(90px);
      }
    }
    .swiper-slide-prev, .swiper-slide-next {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 100.5%;
        height: 100.5%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: var(--color-feat-article-bg);
      }
    }
  }
}


.center-slide-slider {

  .swiper-button-next {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  .swiper-button-prev {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .swiper-buttun-background {
    width: 66px;
    height: 86px;

    @include respond-below(lg) {
      width: 46px;
      height: 60px;
    }

    @include respond-below(md) {
      width: 34px;
      height: 45px;
    }

    @include respond-below(sm) {
      width: 49px;
      height: 59px;
    }

    img {
      width: 24px;

      @include respond-below(lg) {
        width: 18px;
      }

      @include respond-below(md) {
        width: 12px;
      }
    }
  }
}

.evergreen-article--slider {
  max-width: 1346px;
  width: 100%;
  margin: 0 auto 80px;
  position: relative;

  @include respond-below(lg) {
    max-width: 1024px;
    margin: 0 auto 100px;
  }

  @include respond-below(md) {
    margin: 0 auto 32px;
  }

  &.evergreen-article--desktop {
    display: flex;

    @include respond-below(sm) {
      display: none;
    }
  }

  &.evergreen-article--mobile {
    display: none;

    @include respond-below(sm) {
      display: flex;
    }
  }

  .swiper-container {
    max-width: 1134px;
    width: 100%;
    margin: auto;
    position: initial;

    @include respond-below(lg) {
      max-width: 932px;
    }

    @include respond-below(md) {
      max-width: 700px;
    }
  }

  .center-slide-slider {

    .swiper-button-next {
      right: 0;
      display: flex !important;
    }

    .swiper-button-prev {
      left: 0;
      display: flex !important;
    }

  }
}
.evergreen-article {
  display: flex;
  text-align: center;
  background: var(--color-article-bg);
  // flex-direction: row-reverse;

  @include respond-below(sm) {
    flex-direction: column;
  }

  &--content {
    padding: 0 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    @include respond-below(md) {
      padding: 0 35px;
    }

    @include respond-below(sm) {
      padding: 25px 32px;
      min-height: 276px;
    }

    &.article-button {
      @include respond-below(sm) {
        padding: 16px 32px;
        min-height: initial;
      }
    }

    &__subtitle {
      @include ProximaNova-Light;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 20px;
      display: block;
      letter-spacing: 0.1px;

      @include respond-below(lg) {
        font-size: 14px;
        line-height: 15px;
      }

      @include respond-below(md) {
        font-size: 12px;
        margin-bottom: 15px;
      }

      @include respond-below(sm) {
        font-size: 13px;
        margin-bottom: 20px;
      }
    }

    &__title {
      @include BentonModDisp-Regular;
      text-transform: uppercase;
      font-size: 36px;
      line-height: 38px;

      @include respond-below(lg) {
        font-size: 28px;
        line-height: 29px;
      }

      @include respond-below(md) {
        font-size: 23px;
        line-height: 24px;
      }

    }

    &__para {
      font-size: 17px;
      line-height: 22px;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      margin-top: 10px;
      @include ProximaNova-Light;
      max-width: 90%;

      @include respond-below(lg) {
        font-size: 13px;
        line-height: 17px;
      }


      strong {
        @include ProximaNova-Bold;
      }

      a {
        @include ProximaNova-Light;
      }
    }
  }

  &--image {
    height: 466px;
    width: 509px;

    @include respond-below(lg) {
      width: 420px;
      height: 384px;
    }

    @include respond-below(md) {
      width: 315px;
      height: 288px;
    }

    @include respond-below(sm) {
      width: 100%;
      height: 343px;
      position: relative;

      .swiper-button-next, .swiper-button-prev {
        transform: translateY(0);

        img {
          height: 26px;
          width: auto;
        }
      }
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--button {
    padding-top: 40px;

    @include respond-below(lg) {
      padding-top: 30px;
    }

    @include respond-below(md) {
      padding-top: 20px;
    }

    @include respond-below(sm) {
      padding-top: 0;
    }
  }

  &.swiper-slide-active {
    background: var(--color-feat-article-bg);
  }
}

.swiper-container.article-details-slider {
  width: 100%;
  max-width: 1440px;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 741px;

    @include respond-below(lg) {
      height: 527px;
    }

    @include respond-below(md) {
      height: 395px;
    }

    @include respond-below(sm) {
      height: 193px;
      .swiper-button-next, .swiper-button-prev {
        display: flex !important;
      }
    }

    img {
      max-width: 100%;
    }

    .article-swiper-image--desktop {
      display: none;

      @include respond-above(sm) {
        display: block;
      }
    }

    .article-swiper-image--mobile {
      display: block;

      @include respond-above(sm) {
        display: none;
      }
    }
  }
}
