.article-header {
  margin-bottom: calcRem(25);

  @include respond-above(sm) {
    margin-bottom: get-vw(79px);
  }

  &--wrapper {
    margin: auto;
    text-align: center;

    @include respond-above(sm) {
        width: get-vw(1470px);
        margin-top: get-vw(30px);
    }
  }

  &--banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: calcRem(182);

    @include respond-above(sm) {
      height: get-vw(678px);
      margin-bottom: get-vw(37px);
    }
  }

  &--category {
    @include NeutraText-BookAlt;
    margin-top: calcRem(16);
    margin-bottom: calcRem(18);

    @include respond-above(sm) {
      font-size: get-vw(33px);
      line-height: get-vw(36px);
      margin-bottom: get-vw(44px);
    }
  }

  &--title {
    @include NeutraText-BookAlt;
    text-transform: uppercase;
    font-size: calcRem(36);
    line-height: calcRem(34);
    margin-bottom: 4px;

    @include respond-above(sm) {
      font-size: get-vw(94px);
      line-height: get-vw(90px);
      margin-bottom: get-vw(12px);
    }

    strong {
      @include NeutraText-BoldAlt;
    }

    a {
      @include NeutraText-BoldAlt;
      text-decoration: underline;
    }
  }

  &--para {
    @include NeutraText-LightAlt;
    font-size: calcRem(22);
    letter-spacing: 0.5px;
    max-width: 90%;
    margin: auto;

    @include respond-above(sm) {
      max-width: 100%;
      font-size: get-vw(46px);
      line-height: get-vw(47px);
      letter-spacing: get-vw(1.61px);
    }

    strong {
      @include NeutraText-BoldAlt;
    }

    a {
      @include NeutraText-BoldAlt;
      text-decoration: underline;
    }
  }

  &--para-two {
    @include NeutraText-BookAlt;
    font-size: calcRem(16);
    line-height: calcRem(20);
    max-width: 90%;
    margin: auto;

    @include respond-above(sm) {
      max-width: 100%;
      font-size: get-vw(21px);
      line-height: get-vw(34px);
    }

    strong {
      @include NeutraText-BoldAlt;
    }

    a {
      @include NeutraText-BoldAlt;
      text-decoration: underline;
    }
  }

  &--para--two-half {
    @include NeutraText-LightAlt;
    font-size: calcRem(16);
    line-height: calcRem(20);
    max-width: 90%;
    margin: auto;

    @include respond-above(sm) {
      max-width: 50%;
      font-size: get-vw(21px);
      line-height: get-vw(34px);
    }
  }
}


.three-reason {

  @include respond-below(sm) {
    padding: calcRem(0, 18);
  }

  &--wrapper {
    margin: 30px auto 0;

    @include respond-above(sm) {
      width: get-vw(1280px);
      margin: auto;
    }
  }

  &--title {
    text-align: center;
    @include NeutraText-DemiAlt;
    margin-bottom: calcRem(16);

    @include respond-above(sm) {
      font-size: get-vw(32px);
      line-height: get-vw(41px);
      margin-bottom: get-vw(80px);
    }

    strong {
      @include NeutraText-BoldAlt;
    }

    a {
      @include NeutraText-BoldAlt;
      text-decoration: underline;
    }
  }

  .reason-box {
      display: flex;
      width: 100%;
      position: relative;

      @include respond-below(sm) {
        margin-bottom: calcRem(50);
      }

      @include respond-above(sm) {
        height: get-vw(408px);
        // align-items: flex-start;

        &:last-child {
          margin-bottom: get-vw(80px);
        }
      }

      &--content {
        background: var(--color-tile-bg);
        flex: 1;
        display: flex;
        align-items: center;
        position: absolute;
        color: var(--color-text);
        width: calcRem(198);
        right: 0;

        @include respond-below(sm) {
          margin-top: calcRem(20);
        }

        @include respond-above(sm) {
          width: get-vw(833px);
          min-height: get-vw(198px);
          padding-left: get-vw(50px);
          padding-right: get-vw(80px);
        }

        &__number {
          @include NeutraText-BoldAlt;

          @include respond-below(sm) {
            position: absolute;
            right: 20px;
            top: -45px;
            background: var(--color-primary);
            width: calcRem(79);
            height: calcRem(79);
            border-radius: 50%;
            font-size: calcRem(56);
            display: flex;
            align-items: center;
            justify-content: center;
          }

          @include respond-above(sm) {
            font-size: get-vw(133px);
            line-height: get-vw(63px);
          }
        }

        &__para {
          @include NeutraText-BookAlt;
          padding: calcRem(35, 28);
          font-size: calcRem(14);
          line-height: calcRem(16);

          @include respond-above(sm) {
            font-size: get-vw(21px);
            line-height: get-vw(25px);
            letter-spacing: get-vw(0.28px);
            margin-left: get-vw(66px);
            padding-top: get-vw(20px);
            padding-bottom: get-vw(20px);
            padding-left: 0;
            padding-right: 0;
          }

          strong {
            @include NeutraText-BoldAlt;
          }

          a {
            @include NeutraText-BoldAlt;
            text-decoration: underline;
          }
        }
      }

      &--image {
        width: calcRem(154);
        height: calcRem(205);

        @include respond-below(sm) {
          z-index: -2;
        }

        img {

          @include respond-below(sm) {
            height: 100%;
            object-fit: cover;
          }
        }

        @include respond-above(sm) {
          width: get-vw(560px);
          height: 100%;
          z-index: -2;
          position: relative;
        }
      }

      &.odd {

        @include respond-above(sm) {
          justify-content: flex-end;
        }

        .reason-box--content {

          @include respond-above(sm) {
            left: 0;
            top: get-vw(40px);
          }
        }

        .reason-box--image {
          position: relative;

          .tag-name {
            position: absolute;
            left: get-vw(-26px);
            bottom: 0;
            transform: rotate(-90deg);
            transform-origin: left;
            @include NeutraText-DemiAlt;
            font-size: get-vw(20px);
            color: var(--color-text);
            letter-spacing: 0.3px;

            @include respond-below(sm) {
              transform: rotate(0deg);
              font-size: calcRem(11);
              bottom: -15px;
              left: 0px;
            }
          }
        }
      }

      &.even {
        justify-content: flex-start;

        @include respond-below(sm) {
          flex-direction: row-reverse;
        }

          @include respond-above(sm) {
            margin-top: get-vw(-70px);
            margin-bottom: get-vw(70px);
          }

          .reason-box--content {

            @include respond-below(sm) {
              left: 0;
            }

            @include respond-above(sm) {
              right: 0;
              top: inherit;
              bottom: get-vw(40px);
            }
          }

          .reason-box--image {
            position: relative;

            .tag-name {
              @include respond-below(sm) {
                font-size: calcRem(11);
                right: 0;
                left: inherit;
                bottom: -15px;
              }
              position: absolute;
              left: 0;
              bottom: get-vw(-35px);
              @include NeutraText-DemiAlt;
              font-size: get-vw(20px);
              color: var(--color-text);
            }
          }
      }
  }
}


.wow-factor {

  &--wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--color-text);

    @include respond-above(sm) {
      width: get-vw(1620px);
    }

    &.top {
      z-index: 2;

      @include respond-below(sm) {
        flex-direction: column;
      }
    }

    &.bottom {

      z-index: 1;

      @include respond-below(sm) {
        margin-bottom: calcRem(46);
      }
      @include respond-above(sm) {
        margin-top: get-vw(-40px);
      }
    }
  }

  &--left {
    background: var(--color-tile-bg);
    position: relative;
    @include NeutraText-DemiAlt;
    text-align: center;
    padding: calcRem(35);
    width: calcRem(333);
    font-size: calcRem(16);
    line-height: calcRem(28);


    @include respond-above(sm) {
      width: get-vw(566px);
      font-size: get-vw(26px);
      line-height: get-vw(45px);
      padding-top: get-vw(98px);
      padding-right: get-vw(72px);
      padding-bottom: get-vw(53px);
      padding-left: get-vw(72px);
      margin-left: get-vw(126px);
      margin-top: get-vw(-154px);
    }

    .cta-button {
      position: absolute;
      top: calcRem(-22px);
      left: calcRem(40);
      width: calcRem(45);
      height: calcRem(45);

      @include respond-above(sm) {
        width: get-vw(108px);
        height: get-vw(108px);
        top: get-vw(-40px);
        left: 50%;
        transform: translateX(-50%);
      }
    }

    strong {
      @include NeutraText-BoldAlt;
    }

    a {
      @include NeutraText-BoldAlt;
      text-decoration: underline;
    }
  }

  &--right {
    background: var(--color-tile-bg);
    position: relative;
    @include NeutraText-DemiAlt;
    text-align: center;
    margin-top: calcRem(54);
    padding: calcRem(40, 44, 22);
    font-size: calcRem(17);
    line-height: calcRem(30);
    width: calcRem(266);

    @include respond-above(sm) {
      width: get-vw(576px);
      font-size: get-vw(36px);
      line-height: get-vw(59px);
      padding-top: get-vw(98px);
      padding-right: get-vw(72px);
      padding-bottom: get-vw(53px);
      padding-left: get-vw(72px);
      margin-left: get-vw(146px);
      margin-top: get-vw(154px);
    }

    .cta-button {
      position: absolute;
      width: calcRem(45);
      height: calcRem(45);
      top: calcRem(-22px);
      left: 50%;
      transform: translateX(-50%);

      @include respond-above(sm) {
        top: get-vw(-40px);
        width: get-vw(108px);
        height: get-vw(108px);
      }
    }

    strong {
      @include NeutraText-BoldAlt;
    }

    a {
      @include NeutraText-BoldAlt;
      text-decoration: underline;
    }
  }

  &--banner {
    width: 100%;
    // height: calcRem(211);
    height: auto;
    margin-top: calcRem(-20);

    @include respond-above(sm) {
      // height: get-vw(800px);
      margin-bottom: get-vw(90px);
      margin-top: 0;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }
}


//
.image-content {

  @include respond-above(sm) {
    margin-top: get-vw(78px);
    margin-bottom: get-vw(123px);
  }

  &--wrapper {
    margin: auto;
    width: calc(100% - 36px);

    @include respond-above(sm) {
      width: get-vw(1280px);
    }
  }

  &--image {
    margin-bottom: calcRem(14);

    @include respond-above(sm) {
      width: get-vw(560px);
      height: get-vw(560px);
      margin-bottom: 0;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  &--content {
    background: var(--color-tile-bg);
    color: var(--color-text);
    position: relative;
    padding: calcRem(27, 18);

    @include respond-above(sm) {
      width: get-vw(577px);
      padding-top: get-vw(52px);
      padding-right: get-vw(52px);
      padding-bottom: get-vw(52px);
      padding-left: get-vw(52px);
    }

    &__head {
      @include NeutraText-BoldItalicAlt;
      font-size: calcRem(48);
      margin-bottom: calcRem(18);

      @include respond-above(sm) {
        font-size: get-vw(78px);
        margin-bottom: get-vw(36px);
      }
    }

    &__tag {
      margin-bottom: caclRem(16);

      @include respond-above(sm) {
        margin-bottom: get-vw(24px);
      }
    }

    &__headtwo {
      @include NeutraText-BoldItalicAlt;
      font-size: calcRem(30);
      margin-bottom: calcRem(18);

      @include respond-above(sm) {
        font-size: get-vw(36px);
        margin-bottom: get-vw(24px);
      }
    }

    &__para {
      @include NeutraText-BookAlt;
      font-size: calcRem(14);
      line-height: calcRem(16);
      margin-bottom: calcRem(16);

      @include respond-above(sm) {
        font-size: get-vw(20px);
        line-height: get-vw(24px);
        margin-bottom: get-vw(18px);
      }

      strong {
        @include NeutraText-BoldAlt;
      }

      a {
        @include NeutraText-BoldAlt;
        text-decoration: underline;
      }
    }

    &__star {
      display: flex;
      justify-content: center;
      margin: 20px 0 36px;

      @include respond-above(sm) {
        margin-top: get-vw(36px);
        margin-bottom: get-vw(36px);
      }

      img {
        width: 30px;
        height: 30px;

        &:not(:first-child) {
          margin-left: 10px;
        }
      }
    }
  }

  .odd {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: calcRem(40);

    @include respond-above(sm) {
      margin-bottom: get-vw(44px);
      flex-direction: row;
    }

    .image-content--content {

      @include respond-above(sm) {
        margin-left: get-vw(64px);
      }
    }
  }

  .even {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: calcRem(40);

    @include respond-above(sm) {
      flex-direction: row-reverse;
      margin-bottom: get-vw(44px);
    }

    .image-content--content {

      @include respond-above(sm) {
        margin-right: get-vw(64px);
      }
    }
  }

  &.image-content-gif {

    .image-content--image {

      @include respond-above(sm) {
        width: get-vw(640px);
        height: get-vw(640px);
      }
    }

    .image-content--content {
      background: transparent;
      color: var(--color-black);
      position: relative;
      text-align: center;
      margin: 0;

      @include respond-above(sm) {
        width: get-vw(640px);
      }

      &__title {
        @include NeutraText-BoldAlt;
        margin-bottom: calcRem(18);
        font-size: calcRem(17);
        line-height: calcRem(28);

        @include respond-above(sm) {
          font-size: get-vw(21px);
          line-height: get-vw(34px);
          margin-bottom: get-vw(30px);
        }
      }

      &__tag {
        @include NeutraText-BookItalicAlt;
        margin-bottom: calcRem(34);

        @include respond-above(sm) {
          font-size: get-vw(21px);
          line-height: get-vw(34px);
          margin-bottom: get-vw(36px);
        }
      }

      .content-inner {

        @include respond-above(sm) {
          position: absolute;
          // width: get-vw(390px);
          width: 80%;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%);
        }

        strong {
          @include NeutraText-BoldAlt;
        }

        a {
          @include NeutraText-BoldAlt;
          text-decoration: underline;
        }
      }
      .quote-left {
        position: relative;
        width: calcRem(42);

        @include respond-below(sm) {
          margin-bottom: calcRem(26);
        }

        @include respond-above(sm) {
          width: get-vw(54px);
          top: get-vw(77px);
          left: get-vw(77px);
          position: absolute;
        }
      }

      .quote-right {
        position: relative;
        width: calcRem(42);
        margin-left: auto;

        @include respond-above(sm) {
          width: get-vw(54px);
          bottom: get-vw(77px);
          right: get-vw(77px);
          position: absolute;
        }
      }
    }

    .odd {
      margin-bottom: 0;
      align-items: stretch;
    }

    .even {
      margin-bottom: 0;
      align-items: stretch;
    }
  }

  .shop-now-button {
    @include NeutraText-BoldAlt;
    background: var(--color-tile-bg);
    color: var(--color-secondary);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: calcRem(20, 40, 13);
    position: relative;
    text-decoration: none !important;
    margin-top: calcRem(20);

    @include respond-above(sm) {
      font-size: get-vw(32px);
      padding-top: get-vw(35px);
      padding-right: get-vw(88px);
      padding-bottom: get-vw(30px);
      padding-left: get-vw(88px);
      margin-top: get-vw(40px);
    }

    .cta-button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: calcRem(29);
      height: calcRem(29);
      top: calcRem(-20);

      @include respond-above(sm) {
        width: get-vw(52px);
        height: get-vw(52px);
        top: get-vw(-32px);
      }
    }
}
}


.article--para {
  @include NeutraText-BookAlt;
    font-size: calcRem(16);
    line-height: calcRem(20);
    max-width: 90%;
    margin: 20px auto;
    text-align: center;

  @include respond-above(sm) {
    width: get-vw(1280px);
    font-size: get-vw(21px);
    line-height: get-vw(34px);
    margin: 40px auto;
  }

  strong {
    @include NeutraText-BoldAlt;
  }

  a {
    @include NeutraText-BoldAlt;
    text-decoration: underline;
  }
}

.article--para-half {
  @include NeutraText-BookAlt;
    font-size: calcRem(16);
    line-height: calcRem(20);
    max-width: 90%;
    margin: 20px auto;

  @include respond-above(sm) {
    width: get-vw(600px);
    font-size: get-vw(21px);
    line-height: get-vw(34px);
    margin: 40px auto;
  }

  strong {
    @include NeutraText-BoldAlt;
  }

  a {
    @include NeutraText-BoldAlt;
    text-decoration: underline;
  }
}

.article-para-bold {
  @include NeutraText-DemiAlt;
    font-size: calcRem(16);
    line-height: calcRem(20);
    max-width: 90%;
    margin: 20px auto;

  @include respond-above(sm) {
    width: get-vw(1280px);
    font-size: get-vw(32px);
    line-height: get-vw(41px);
    margin-top: get-vw(40px);
    margin-bottom: get-vw(40px);
  }

  strong {
    @include NeutraText-BoldAlt;
  }

  a {
    @include NeutraText-BoldAlt;
    text-decoration: underline;
  }
}


.four-image {

  &--wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: calcRem(320px);

    @include respond-above(sm) {
      width: get-vw(1000px);
      margin-bottom: get-vw(80px);
      margin-top: get-vw(80px);
      flex-wrap: wrap;
      flex-direction: row;
    }

    &__box {
      margin: 10px 0;
      width: 100%;

      @include respond-above(sm) {
        width: get-vw(460px);
        margin-top: get-vw(20px);
        margin-right: get-vw(20px);
        margin-bottom: get-vw(20px);
        margin-left: get-vw(20px);
      }

      img {
        max-width: 100%;
      }
    }
  }
}


.shop-button--wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calcRem(60px);

  @include respond-above(sm) {
    margin-top: get-vw(40px);
  }

  .shop-now-button {
    @include NeutraText-BoldAlt;
    background: var(--color-tile-bg);
    color: var(--color-secondary);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    display: inline-block;
    padding: calcRem(20, 40, 13);
    position: relative;
    text-decoration: none !important;


    @include respond-above(sm) {
      font-size: get-vw(32px);
      padding-top: get-vw(35px);
      padding-right: get-vw(88px);
      padding-bottom: get-vw(30px);
      padding-left: get-vw(88px);
      margin-top: get-vw(40px);
    }

    .cta-button {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: calcRem(29);
      height: calcRem(29);
      top: calcRem(-20);

      @include respond-above(sm) {
        width: get-vw(52px);
        height: get-vw(52px);
        top: get-vw(-32px);
      }
    }
}
}


//// bt style
.seasonless-style {

  &--wrapper {
    margin: auto;

    @include respond-above(sm) {
      width: get-vw(1280px);
    }
  }

  .box {
    display: flex;
    align-items: center;

    @include respond-above(sm) {
      height: get-vw(580px);
      margin-bottom: get-vw(60px);
    }

    &--left {
      position: relative;

      @include respond-above(sm) {
        padding-left: get-vw(18px);
      }

      &:before {
        content:'';
        position: absolute;
        background: #6D4F6D;
        left: 0;
        top: get-vw(22px);
        z-index: -1;

        @include respond-above(sm) {
          width: get-vw(553px);
          height: get-vw(553px);
        }
      }

      img {
        width: 100%;
        object-fit: cover;

        @include respond-above(sm) {
            width: get-vw(560px);
            height: get-vw(560px);
        }
      }
    }

    &--right {

      @include respond-above(sm) {
        width: get-vw(608px);
        margin-left: get-vw(73px);
      }

      .title {
        position: relative;
        @include NeutraText-DemiAlt;

        &::before {
          content:'';
          position: absolute;
          width: 100%;
          background: var(--color-primary);

          @include respond-above(sm) {
            height: get-vw(31px);
          }
        }

        @include respond-above(sm) {
          font-size: get-vw(78px);
        }

      }

      .para {
        margin: 0 auto;
        @include NeutraText-Book;

        @include respond-above(sm) {
          font-size: get-vw(20px);
          line-height: get-vw(24px);
          letter-spacing: 0.3px;
          width: get-vw(446px);
        }

        a {
          @include NeutraText-DemiAlt;
          text-decoration: underline;
        }

        strong {
          @include NeutraText-DemiAlt;
        }
      }
    }

    &.odd {
      .box--right {

        @include respond-above(sm) {
          margin-left: inherit;
          margin-right: get-vw(73px);
        }

      }
    }

    &.even {
      flex-direction: row-reverse;
    }
  }
}
