.banner-with-image {
  width: var(--width-100);
  height: calcRem(307);
  display: flex;
  flex-direction: column;
  background: var(--color-primary);
  margin-bottom: calcRem(20);

  @include respond-above(sm) {
    height: get-vw(483px);
    flex-direction: row;
    margin-bottom: get-vw(45px);
  }

  &--content {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: calcRem(22, 20);

    @include respond-above(sm) {
      flex: 1;
      // padding-top: get-vw(48px);
      padding-left: get-vw(63px);
    }
  }

  &--heading {
    max-width: calcRem(251);
    text-transform: uppercase;
    font-size: calcRem(52);
    line-height: calcRem(50);

    @include respond-above(sm) {
      max-width: get-vw(870px);
      font-size: get-vw(191px);
      line-height: get-vw(182px);
    }
  }

  &--subtitle {
    font-size: calcRem(18);
    @include NeutraText-BookAlt;
    margin-left: calcRem(5);
    margin-top: calcRem(7);

    @include respond-above(sm) {
      font-size: get-vw(32px);
      margin-left: get-vw(15px);
    }
  }

  &--image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    @include respond-above(sm) {
      width: get-vw(900px);
    }
  }
}
