.banner-with-background {
  background: var(--color-primary);
  text-align: center;
  padding: calcRem(44, 0);
  margin-bottom: calcRem(22);

  @include respond-above(sm) {
    padding-top: get-vw(89px);
    padding-bottom: get-vw(89px);
    margin-bottom: get-vw(45px);
  }

  &--heading {
    text-transform: uppercase;
  }

  &--subtitle {
    font-size: calcRem(18);
    line-height: calcRem(22);
    margin-top: calcRem(8);
    text-transform: uppercase;
    @include NeutraText-BookAlt;

    @include respond-above(sm) {
      margin-top: get-vw(20px);
      font-size: get-vw(35px);
      line-height: get-vw(42px);
    }
  }
}
