.explore-blog {
  position: relative;

  @include respond-above(sm) {
    // margin-bottom: get-vw(80px);
    // padding-bottom: get-vw(140px);
    margin-top: get-vw(110px);
  }

  &:after {
    content: '';
    position: absolute;
    background: var(--color-primary);
    width: 100%;
    left: 0;
    z-index: -1;

    @include respond-above(sm) {
      height: get-vw(549px);
      bottom: get-vw(-82px);
    }
  }

  &--title {
    background: var(--color-tile-bg);
    @include NeutraText-DemiAlt;
    text-align: center;

    @include respond-above(sm) {
      font-size: get-vw(55px);
      line-height: get-vw(65px);
      padding-top: get-vw(19px);
      padding-bottom: get-vw(10px);
      margin-bottom: get-vw(56px);
    }
  }

  &--wrapper {
    margin: auto;
    display: flex;

    @include respond-above(sm) {
      width: get-vw(1620px);
      justify-content: space-between;
    }
  }

  &--box {

    @include respond-above(sm) {
      width: get-vw(520px);
    }
  }

  &--image {
    display: flex;

    @include respond-above(sm) {
      height: get-vw(331px);
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &--content {
    background: var(--color-secondary);
    position: relative;
    color: var(--color-white);

    @include respond-above(sm) {
      padding-top: get-vw(41px);
      padding-right: get-vw(37px);
      padding-bottom: get-vw(34px);
      padding-left: get-vw(37px);
    }

    &__cta {
      position: absolute;
      top: 0;

      @include respond-above(sm) {
        left: get-vw(37px);
        top: get-vw(-23px);
      }

      img {

        @include respond-above(sm) {
          width: get-vw(47px);
          height: get-vw(47px);
        }
      }
    }

    &__category {
      @include NeutraText-BookAlt;
      letter-spacing: 1px;

      @include respond-above(sm) {
        font-size: get-vw(29px);
      }
    }

    &__title {
      @include NeutraText-DemiAlt;

      @include respond-above(sm) {
        font-size: get-vw(42px);
        line-height: get-vw(45px);
      }
    }
  }
}


.see-more--wrapper {
  width: 100%;
  margin: auto;
  position: relative;

  @include respond-above(sm) {
      height: get-vw(100px);
      margin-bottom: get-vw(140px);
  }

  .see-more-button {
      @include NeutraText-BoldAlt;
      background: var(--color-tile-bg);
      color: var(--color-secondary);
      border: none;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @include respond-above(sm) {
        font-size: get-vw(32px);
        padding-top: get-vw(26px);
        padding-right: get-vw(58px);
        padding-bottom: get-vw(26px);
        padding-left: get-vw(58px);
        bottom: get-vw(-40px);
      }

      .cta-button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include respond-above(sm) {
          width: get-vw(72px);
          height: get-vw(72px);
        }
      }
  }
}
