.explore-blog {
  position: relative;
  // margin-bottom: calcRem(70);
  margin-top: 120px;

  @include respond-below(md) {
    margin-top: 105px;
  }

  &:after {
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 100%;
    left: 0;
    z-index: -2;
    height: 435px;
    bottom: -68px;

    @include respond-below(xl) {
      height: 374px;
      bottom: -68px;
    }

    @include respond-below(lg) {
      height: 310px;
      bottom: -68px;
    }

    @include respond-below(md) {
      height: 272px;
      bottom: -51px;
    }

    @include respond-below(sm) {
      height: 90%;
      bottom: -27px;
    }
  }

  &--title {
    background: var(--color-tile-bg);
    @include NeutraText-DemiAlt;
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    padding: 16px 0 11px;
    margin-bottom: 72px;

    @include respond-below(xl) {
      margin-bottom: 41px;
    }

    @include respond-below(md) {
      margin-bottom: 23px;
      font-size: 25px;
      letter-spacing: 0.63px;
      padding: 13px 0 9px;
    }

    @include respond-below(sm) {
      margin-bottom: 30px;
      font-size: 22px;
      letter-spacing: 0.55px;
    }
  }

  &--wrapper {
    margin: auto;
    display: flex;
    max-width: 1280px;

    @include respond-below(xl) {
      max-width: 965px;
    }

    @include respond-below(lg) {
      max-width: 742px;
    }

    @include respond-below(md) {
      max-width: 626px;
    }

    @include respond-below(sm) {
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }

    // &.blog-wrapper {
    //   @include respond-above(sm) {
    //     width: get-vw(1700px);

    //     .explore-blog--box {
    //       &:nth-child(2) {
    //         margin-left: get-vw(70px);
    //         margin-right: get-vw(70px);
    //       }
    //     }
    //   }

    //   @include respond-below(sm) {
    //     .explore-blog--box {
    //       width: calcRem(351);
    //     }

    //     .explore-blog--content__category {
    //       font-size: calcRem(20);
    //       line-height: calcRem(30);
    //     }

    //     .explore-blog--content__title {
    //       font-size: calcRem(28);
    //       line-height: calcRem(30);
    //     }
    //   }
    // }
  }

  &--box {
    position: relative;
    width: 373px;
    display: flex;
    flex-direction: column;

    @include respond-below(xl) {
      width: 281px;
    }

    @include respond-below(lg) {
      width: 236px;
    }

    @include respond-below(md) {
      width: 200px;
    }

    @include respond-below(sm) {
      width: 304px;
      margin-bottom: 32px;
    }

    &:nth-child(2) {
      margin: 0 80px;

      @include respond-below(xl) {
        margin: 0 60px;
      }

      @include respond-below(lg) {
        margin: 0 17px;
      }

      @include respond-below(md) {
        margin: 0 13px;
      }

      @include respond-below(sm) {
        margin: 0 0 32px;
      }
    }

    // @include respond-above(sm) {
    //   width: get-vw(520px);

    //   &:nth-child(2) {
    //     margin-left: get-vw(27px);
    //     margin-right: get-vw(27px);
    //   }
    // }

    // @include respond-below(sm) {
    //   margin: auto;
    //   &:nth-child(2) {
    //     margin-top: calcRem(24);
    //   }
    //   &:nth-child(3) {
    //     display: none;
    //   }
    // }
  }

  &--image {
    display: flex;
    height: 238px;

    @include respond-below(xl) {
      height: 179px;
    }

    @include respond-below(lg) {
      height: 151px;
    }

    @include respond-below(md) {
      height: 127px;
    }

    @include respond-below(sm) {
      height: 192px;
    }

    img {
      min-height: 100%;
      object-fit: cover;
    }
  }

  &--content {
    background: var(--color-secondary);
    position: relative;
    color: var(--color-white);
    padding: 34px 27px 20px;
    flex: 1;

    @include respond-below(xl) {
      padding: 27px 21px 18px;
    }

    @include respond-below(lg) {
      padding: 25px 18px 18px;
    }

    @include respond-below(md) {
      padding: 20px 14px 16px;
    }

    @include respond-below(sm) {
      padding: 26px 23px 14px;
    }

    &__cta {
      position: absolute;
      top: -17px;
      left: 26px;

      @include respond-below(xl) {
        top: -13px;
        left: 20px;
      }

      @include respond-below(lg) {
        top: -11px;
        left: 18px;
      }

      @include respond-below(md) {
        top: -9px;
        left: 14px;
      }

      @include respond-below(md) {
        top: -14px;
        left: 23px;
      }

      img {
        width: 34px;
        height: 34px;

        @include respond-below(xl) {
          width: 26px;
          height: 26px;
        }

        @include respond-below(lg) {
          width: 22px;
          height: 22px;
        }

        @include respond-below(md) {
          width: 18px;
          height: 18px;
        }

        @include respond-below(sm) {
          width: 28px;
          height: 28px;
        }
      }
    }

    &__category {
      @include NeutraText-BookAlt;
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 0.7px;

      @include respond-below(xl) {
        margin-bottom: 13px;
        font-size: 15px;
        line-height: 21px;
        letter-spacing: 0.53px;
      }

      @include respond-below(md) {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.49px;
      }

      @include respond-below(sm) {
        font-size: 15px;
      }
    }

    &__title {
      @include NeutraText-DemiAlt;
      font-size: 24px;
      line-height: 27px;
      display: flex;
      align-items: center;
      min-height: 76px;

      @include respond-below(xl) {
        font-size: 21px;
        line-height: 24px;
      }

      @include respond-below(lg) {
        font-size: 18px;
        line-height: 21px;
        min-height: 62px;
      }

      @include respond-below(sm) {
        min-height: auto;
      }
    }

    &.blog-pagination {
      display: flex;
      justify-content: space-between;
      // align-items: center;

      .blog-pagination-content {
        flex: 1;
        margin-right: 22px;

        @include respond-below(md) {
          margin-right: 12px;
        }
      }
      .blog-pagination-cta {
        display: flex;
        align-items: center;
        height: 100%;
        width: 28px;
        // height: 28px;

        @include respond-below(md) {
          width: 19px;
        }

        @include respond-below(sm) {
          width: 15px;
          height: auto;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}



.see-more--wrapper {
  width: 100%;
  // margin: 20px auto 40px;
  position: relative;
  height: 90px;
  margin-bottom: 80px;
  display: block;
  text-align: center;

  @include respond-below(lg) {
    margin-bottom: 44px;
  }

  @include respond-below(md) {
    height: 75px;
  }

  @include respond-below(sm) {
    height: 48px;
    margin-bottom: 64px;
  }

  &.see-more-relative {
    height: auto;
    margin: 0;

    @include respond-below(sm) {
      margin-top: 0;
      padding-top: 20px;
    }
  }

  .see-more-button {
    @include NeutraText-BoldAlt;
    background: var(--color-tile-bg);
    color: var(--color-secondary);
    border: none;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    outline: none;
    font-size: 14px;
    letter-spacing: 1.05px;
    line-height: 17px;
    padding: 17px 36.5px 14px;
    bottom: 0;
  }

  .cat-see-more-button {
    @include NeutraText-BoldAlt;
    background: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    letter-spacing: 1.05px;
    line-height: 17px;
    padding: 17px 36.5px 14px;
    bottom: 0;
  }
}
