.featured-articles {

  @include respond-above(sm) {
    margin-bottom: get-vw(39px);
  }

  &.desktop {
    display: none;

    @include respond-above(sm) {
      display: flex;
    }
  }

  &--wrapper {
    margin: auto;
    position: relative;

    @include respond-above(sm) {
      width: get-vw(1473px);

    }

    .swiper-button--wrapper {

      @include respond-above(sm) {
        width: get-vw(520px);
        height: get-vw(24px);
        position: absolute;
        bottom: get-vw(18px);
        right: get-vw(30px);
      }

      .custom-swiper-pagination {
        left: 50%;
        transform: translateX(-50%);

        .swiper-pagination-bullet {
          background: var(--color-gray-light);
          margin-left: 10px;
          margin-right: 10px;
          width: 15px;
          height: 15px;
        }

        .swiper-pagination-bullet-active {
          background: var(--color-black);
        }
      }
    }

    .swiper-button--wrapper-inner {
      margin: auto;
      position: relative;

      @include respond-above(sm) {
        // width: get-vw(260px);
        height: get-vw(24px);
      }
    }
  }

  .swiper-wrapper {

    .swiper-slide {
      display: flex;

      @include respond-above(sm) {
        height: get-vw(630px);
        width: 100%;
      }

      &--image {

        @include respond-above(sm) {
          flex: 1;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      &--content {
        background: var(--color-tile-bg);
        @include NeutraText-BookAlt;

        @include respond-above(sm) {
          width: get-vw(580px);
          padding-top: get-vw(69px);
          padding-right: get-vw(52px);
          padding-bottom: get-vw(69px);
          padding-left: get-vw(52px);
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &__category {

          @include respond-above(sm) {
            font-size: get-vw(24px);
            line-height: get-vw(23px);
            margin-bottom: get-vw(37px);
          }
        }

        &__title {

          @include respond-above(sm) {
            font-size: get-vw(38px);
            line-height: get-vw(36px);
            margin-bottom: get-vw(13px);
          }
        }

        &__para {

          @include respond-above(sm) {
            font-size: get-vw(20px);
            line-height: get-vw(22px);
            margin-bottom: get-vw(37px);
          }
        }

        &__cta {
          width: calcRem(45);
          height: calcRem(45);
          @include respond-above(sm) {
            width: get-vw(101px);
            height: get-vw(101px);
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  &.even {
    margin-top: 0;
    .swiper-wrapper {

      .swiper-slide {

        @include respond-above(sm) {
          flex-direction: row-reverse;
        }

        &--content {
          text-align: right;

          &__cta {
            margin-left: auto;
          }
        }
      }
    }

    .swiper-button--wrapper {
      right: inherit;
      left: get-vw(30px);
    }
  }
}


.featured-articles-mobile {
  display: block;
  background: var(--color-tile-bg);
  padding: calcRem(35, 20);
  margin-top: calcRem(34);
  height: calcRem(714);
  margin-bottom: calcRem(34);

  @include respond-above(sm) {
    display: none;
  }

  .swiper-container {
    // height: 100%;
  }

  &--wrapper {

    .swiper-slide {

      &--content {
        @include NeutraText-BookAlt;
        text-align: center;
        display: flex;
        flex-direction: column;

        &__category {
          font-size: calcRem(21);
          margin-bottom: calcRem(25);
        }

        &__title {
          font-size: calcRem(20);
          line-height: calcRem(19);
          margin-bottom: calcRem(25);
        }

        &__para {
          font-size: calcRem(20);
          line-height: calcRem(22);
        }

        &__cta {

          a {
            border: 1px solid var(--color-black);
            @include NeutraText-DemiAlt;
            font-size: calcRem(18);
            padding: calcRem(22, 31, 18);
            display: inline-block;
            margin-top: calcRem(44);
            position: relative;
            text-transform: uppercase;

            img {
              position: absolute;
              width: 45px;
              height: 45px;
              left: 50%;
              transform: translateX(-50%);
              top: -33px;
            }
          }
        }
      }

      &--image {
        width: calcRem(234);
        height: calcRem(307);
        margin: 0 auto 25px;

        img {
          object-fit: cover;
          height: 100%;
          object-position: 50% 50%;
        }
      }
    }
  }

  .swiper-pagination {
    position: relative;
  }

  .custom-swiper-pagination {

    .swiper-pagination-bullet {
      background: var(--color-gray-light);
      margin-left: 4px;
      margin-right: 4px;
      width: 10px;
      height: 10px;
      margin-top: calcRem(25);
    }

    .swiper-pagination-bullet-active {
      background: var(--color-black);
    }
  }
}
