.featured-articles {

  @include respond-above(sm) {
    margin-bottom: get-vw(39px);
  }

  &.desktop {
    display: none;

    @include respond-above(sm) {
      display: flex;
    }
  }

  &--wrapper {
    margin: auto;
    position: relative;

    @include respond-above(sm) {
      width: get-vw(1854px);

    }

    .swiper-button--wrapper {

      @include respond-above(sm) {
        width: get-vw(612px);
        height: get-vw(24px);
        position: absolute;
        bottom: get-vw(18px);
        right: 0;
      }

      .custom-swiper-pagination {
        left: 50%;
        transform: translateX(-50%);

        .swiper-pagination-bullet {
          background: var(--color-gray-light);
          margin-left: 10px;
          margin-right: 10px;
          width: 15px;
          height: 15px;
        }

        .swiper-pagination-bullet-active {
          background: var(--color-black);
        }
      }
    }

    .swiper-button--wrapper-inner {
      margin: auto;
      position: relative;

      @include respond-above(sm) {
        // width: get-vw(260px);
        height: get-vw(24px);
      }
    }
  }

  .swiper-wrapper {

    .swiper-slide {
      display: flex;

      @include respond-above(sm) {
        height: get-vw(794px);
        width: 100%;
      }

      &--image {

        @include respond-above(sm) {
          flex: 1;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      &--content {
        background: var(--color-tile-bg);
        @include NeutraText-BookAlt;

        @include respond-above(sm) {
          width: get-vw(612px);
          padding-top: get-vw(132px);
          padding-right: get-vw(64px);
          // padding-bottom: get-vw();
          padding-left: get-vw(64px);
        }

        &__category {

          @include respond-above(sm) {
            font-size: get-vw(34px);
            line-height: get-vw(33px);
            margin-bottom: get-vw(30px);
          }
        }

        &__title {

          @include respond-above(sm) {
            font-size: get-vw(84px);
            line-height: get-vw(79px);
            margin-bottom: get-vw(13px);
          }
        }

        &__para {

          @include respond-above(sm) {
            font-size: get-vw(29px);
            line-height: get-vw(32px);
            margin-bottom: get-vw(44px);
          }
        }

        &__cta {
          width: calcRem(45);
          height: calcRem(45);
          @include respond-above(sm) {
            width: get-vw(127px);
            height: get-vw(127px);
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  &.even {
    margin-top: 0;
    .swiper-slide {

      @include respond-above(sm) {
        flex-direction: row-reverse;
      }
    }

    .swiper-button--wrapper {
      right: inherit;
      left: 0;
    }
  }
}


.featured-articles-mobile {
  display: block;
  background: var(--color-tile-bg);
  padding: calcRem(35, 20);
  margin-top: calcRem(34);
  height: calcRem(714);
  margin-bottom: calcRem(34);

  @include respond-above(sm) {
    display: none;
  }

  .swiper-container {
    // height: 100%;
  }

  &--wrapper {

    .swiper-slide {

      &--content {
        @include NeutraText-BookAlt;
        text-align: center;
        display: flex;
        flex-direction: column;

        &__category {
          font-size: calcRem(18);
          margin-bottom: calcRem(25);
        }

        &__title {
          font-size: calcRem(38);
          line-height: calcRem(36);
          margin-bottom: calcRem(25);
        }

        &__para {
          font-size: calcRem(20);
          line-height: calcRem(22);
        }

        &__cta {

        }
      }

      &--image {
        width: calcRem(234);
        height: calcRem(307);
        margin: 0 auto 25px;

        img {
          object-fit: cover;
          height: 100%;
          object-position: 50% 50%;
        }
      }
    }
  }

  .swiper-pagination {
    position: relative;
  }
}
