.footer-section {
  background: var(--color-footer-bg);
  width: var(--width-100);
  padding: calcRem(30, 36, 22);

  @include respond-above(sm) {
    padding-top: get-vw(90px);
    padding-bottom: get-vw(71px);
    padding-left: 0;
    padding-right: 0;
  }
}

.footer-wrapper {
  width: calc(var(--width-100) - 70px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-above(sm) {
    width: get-vw(1630px);
    flex-direction: row;
  }

  &--left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include respond-above(sm) {
      flex-direction: row;
      margin-left: get-vw(270px);
    }
  }

  &--right {
    flex: 1;
    max-width: calcRem(272);

    @include respond-above(sm) {
      max-width: get-vw(510px);
    }
  }

  &--copyright {
    width: var(--width-100);
    color: var(--color-black);
    @include NeutraText-Book;
    font-size: calcRem(8);
    margin-top: calcRem(22);

    @include respond-above(sm) {
      font-size: calcRem(7);
      margin-top: get-vw(28px);
    }

    @include respond-above(md) {
      font-size: get-vw(14px);
    }

    a {
      text-decoration: underline;
    }
  }
}

.bottom-footer {

  border-top: 1px solid var(--color-black);

  @include respond-above(sm) {
      margin-top: get-vw(80px);
  }
}

.footer-links {
  &--title {
    @include NeutraText-Bold;
    font-size: calcRem(13);
    color: var(--color-black);
    margin-bottom: calcRem(20);

    @include respond-above(sm) {
      font-size: calcRem(9);
      margin-bottom: calcRem(13.8);
    }

    @include respond-above(md) {
      font-size: calcRem(12.5);
      margin-bottom: calcRem(20);
    }

    @include respond-above(lg) {
      font-size: calcRem(14);
      margin-bottom: calcRem(24.8);
    }

    @include respond-above(xl) {
      font-size: calcRem(20);
      margin-bottom: calcRem(37.7);
    }

  }

  &--ul {

    &__list {
      // text-transform: uppercase;
      letter-spacing: calcRem(1);
      display: flex;

      &:not(:last-child){
        margin-bottom: calcRem(9);

        @include respond-above(sm) {
          margin-bottom: calcRem(9);
        }

        @include respond-above(md) {
          margin-bottom: calcRem(13.8);
        }

        @include respond-above(lg) {
          margin-bottom: calcRem(16.5);
        }

        @include respond-above(xl) {
          margin-bottom: calcRem(25.7);
        }

      }
    }

    &__link {
      color: var(--color-black);
      @include NeutraText-DemiAlt;
      font-size: calcRem(10);


      @include respond-above(sm) {
        font-size: calcRem(6);
      }

      @include respond-above(md) {
        font-size: calcRem(8);
      }

      @include respond-above(lg) {
        font-size: calcRem(10);
      }

      @include respond-above(xl) {
        font-size: calcRem(14);
      }
    }

  }
}

.footer-links--title + div {
  display: none;

  @include respond-above(sm) {
    display: block;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin: calcRem(9, 0, 25);

  @include respond-above(sm) {
    margin-bottom: get-vw(74px);
    margin-top: 0;
  }

  .title {
    @include NeutraText-BoldAlt;
    font-size: get-vw(14px);
    margin-bottom: get-vw(20px);
    text-transform: uppercase;
  }

  .sub-title {
    @include NeutraText-BookAlt;
    font-size: get-vw(14px);
    margin-bottom: get-vw(15px);
  }

  .input-button-wrapper {
    position: relative;
  }

  input {
    border: 1px solid #CBCBCB;
    background: var(--color-white);
    @include NeutraText-DemiAlt;
    height: calcRem(34);
    width: calcRem(194);
    font-size: calcRem(10);
    padding-left: calcRem(13);

    @include respond-above(sm) {
      font-size: 14px;
      height: get-vw(62px);
      width: 100%;
      padding-left: get-vw(24px);
    }
  }

  button {
    background: transparent;
    border: none;
    @include NeutraText-Bold;
    color: var(--color-black);
    height: calcRem(34);
    font-size: calcRem(10);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    @include respond-above(sm) {
      font-size: get-vw(17px);
      height: get-vw(64px);
      width: get-vw(40px);
    }
  }
}

.footer-images {
  display: flex;
  justify-content: space-between;

  &--img {
    width: calcRem(64);
    height: calcRem(64);

    @include respond-above(sm) {
      width: get-vw(120px);
      height: get-vw(120px);
    }
  }
}

.footer-social {
  display: flex;
  margin-top: calcRem(20);

  @include respond-above(sm) {
    margin-top: get-vw(28px);
  }

  &--icon {
    width: calcRem(16);
    height: calcRem(16);
    display: flex;
    align-items: center;

    @include respond-above(sm) {
      width: calcRem(15);
      height: calcRem(15);
    }

    @include respond-above(md) {
      width: calcRem(18);
      height: calcRem(18);
    }

    @include respond-above(lg) {
      width: calcRem(24);
      height: calcRem(24);
    }

    @include respond-above(xl) {
      width: calcRem(36);
      height: calcRem(36);
    }

    &:not(:first-child) {
      margin-left: calcRem(13);

      @include respond-above(sm) {
        margin-left: calcRem(12);
      }

      @include respond-above(md) {
        margin-left: calcRem(16);
      }

      @include respond-above(lg) {
        margin-left: calcRem(18);
      }

      @include respond-above(xl) {
        margin-left: calcRem(29);
      }
    }

    img {
      max-width: 100%;
    }
  }

}
