.footer-section {
  // background: var(--color-footer-bg);
  width: var(--width-100);
  // padding: calcRem(30, 36, 22);
  padding: 0 36px;

  @include respond-above(sm) {
    padding: 25px 0 0;
  }

  // @include respond-above(lg) {
  //   padding: 106px 0 70px;
  // }

  // @include respond-above(xl) {
  //   padding: 49px 0 67px;
  // }
}

.footer-section {
  margin-top: get-vw(140px);
}
.see-more--wrapper + .footer-section {
  margin-top: 0;
}

.footer-wrapper {
  width: calc(var(--width-100) - 70px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-above(sm) {
    max-width: 638px;
  }

  @include respond-above(md) {
    max-width: 888px;
    flex-direction: row;
  }

  @include respond-above(lg) {
    max-width: 1075px;
  }

  // @include respond-above(xl) {
  //   width: 1600px;
  // }

  &--left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    // flex-direction: column;

    @include respond-below(sm) {
      // border-top: 1px solid var(--color-black);
      // padding-top: 24px;
      flex-direction: column;
    }

    // @include respond-above(md) {
    //   width: 100%;
    //   flex-direction: row;
    // }

    @include respond-above(md) {
      flex-direction: row;
      margin-left: 50px;
      // margin-left: 137px;
    }

    // @include respond-above(xl) {
    //   margin-left: 270px;
    // }
  }

  &--right {
    flex: 1;

    // @include respond-between(sm, lg) {
    //   width: 100%;
    // }

    @include respond-above(md) {
      max-width: 354px;
    }

    // @include respond-above(xl) {
    //   max-width: 354px;
    // }
  }

  &--copyright {
    width: var(--width-100);
    color: var(--color-black);
    @include NeutraText-Book;
    font-size: 12px;
    letter-spacing: 0.25px;
    width: 80%;
    // margin: 5px auto 25px;
    line-height: 1.5;

    @include respond-above(sm) {
      font-size: 10px;
      margin: 0;
      width: inherit;
    }

    @include respond-above(lg) {
      font-size: 12px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.bottom-footer {
    border-top: 2px solid #e5e5ea;
    padding: 24px 0;
    text-align: center;

    @include respond-above(sm) {
      margin-top: 20px;
      padding: 30px 0;
    }

    @include respond-above(lg) {
      margin-top: 10px;
    }

  .footer-wrapper {
    align-items: center;

    @include respond-below(md) {
      flex-direction: column;
    }
  }
}

.footer-links {

  @include respond-below(sm) {
    padding: 15px 0;
    border-bottom: 1px solid #757575;

    &:last-child {
      border-bottom: 0;
    }
  }

  &--title {
    color: var(--color-black);
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 13px;
    position: relative;
    @include NeutraText-DemiAlt;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: calcRem(18);
    text-transform: uppercase;
    letter-spacing: 0.75px;
    display: none;

    @include respond-above(sm) {
      border-bottom: none;
      margin-bottom: 0;
      display: block;
    }

    // @include respond-above(lg) {
    //   font-size: 14px;
    // }

    // @include respond-below(sm) {
    //   &:after {
    //     content: "";
    //     position: absolute;
    //     background: url("../../images/plus-icon.svg");
    //     background-position: center;
    //     background-size: cover;
    //     width: 14px;
    //     height: 14px;
    //     right: 15px;
    //   }
    // }
  }

  &--ul {
    &__list {
      // text-transform: uppercase;
      // letter-spacing: calcRem(1);
      display: flex;

      &:not(:last-child) {
        margin-bottom: 12px;

        // @include respond-above(sm) {
        //   margin-bottom: 12px;
        // }
      }

      @include respond-below(sm) {
        display: block;
        text-align: center;
      }
    }

    &__link {
      color: var(--color-black);
      @include NeutraText-DemiAlt;
      font-size: 13px;
      line-height: 20px;
    }
  }
}

// .footer-links--title + div {
//   display: none;

//   @include respond-above(sm) {
//     display: block;
//   }
// }

// .footer-links.open .footer-links--title + div {
//   display: block;
//   margin-bottom: 20px;
// }
// .footer-links.open .footer-links--title {
//   border: none;
//   padding-bottom: 0;
//   @include respond-below(sm) {
//     &:after {
//       background: url("../../images/minus-icon.svg");
//     }
//   }
// }
// .footer-links.open {
//   @include respond-below(sm) {
//     border-bottom: 1px solid var(--color-black);
//     margin-bottom: 20px;
//   }
// }

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin: 0 0 38px;

  @include respond-below(md) {
    max-width: 345px;
    margin: 0 auto 25px;
    text-align: center;
  }

  .title {
    @include NeutraText-DemiAlt;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: calcRem(18);
    text-transform: uppercase;
    letter-spacing: 0.75px;

    @include respond-above(sm) {
      // font-size: 14px;
      // margin-bottom: 20px;
    }
  }

  .sub-title {
    @include NeutraText-DemiAlt;
    font-size: calcRem(13);
    margin-bottom: calcRem(12);
    letter-spacing: 0.25px;

    // @include respond-above(sm) {
    //   font-size: 14px;
    //   margin-bottom: 15px;
    // }
  }

  .input-button-wrapper {
    position: relative;
    display: flex;

    // @include respond-below(sm) {
    //   width: 270px;
    // }
  }

  input {
    border: 0;
    border-bottom: 1px solid var(--color-black);
    background: transparent;
    @include NeutraText-BookAlt;
    height: 48px;
    width: calc(100% - 90px);
    font-size: 13px;
    padding: 0 15px;

    // @include respond-above(sm) {
    //   font-size: 14px;
    //   height: 55px;
    //   width: 100%;
    //   padding-left: 21px;
    // }
  }

  button {
    background: var(--color-black);
    border: none;
    @include NeutraText-DemiAlt;
    color: var(--color-white);
    height: 48px;
    font-size: calcRem(10);
    cursor: pointer;
    width: calcRem(40);
    font-size: 12px;
    letter-spacing: 0.25px;
    width: 90px;
    text-transform: uppercase;

    &:hover {
      background: #707070;
    }


    // @include respond-above(sm) {
    //   font-size: get-vw(17px);
    //   height: 55px;
    // }
  }
}

.footer-images {
  display: flex;
  justify-content: space-between;

  &--img {
    width: calcRem(64);
    height: calcRem(64);

    @include respond-above(sm) {
      width: get-vw(120px);
      height: get-vw(120px);
    }
  }
}

.footer-social {
  display: flex;
  // margin-top: calcRem(20);

  @include respond-below(sm) {
    align-items: center;
    justify-content: center;
    // margin-top: 0;
  }

  @include respond-below(md) {
    margin-top: 30px;
  }

  @include respond-below(sm) {
    margin-top: 36px;
  }

  &--icon {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    opacity: 0.3;

    &:not(:first-child) {
      margin-left: calcRem(13);

      @include respond-above(sm) {
        margin-left: calcRem(20);
      }

      // @include respond-above(md) {
      //   margin-left: calcRem(16);
      // }

      // @include respond-above(lg) {
      //   margin-left: calcRem(18);
      // }

      // @include respond-above(xl) {
      //   margin-left: calcRem(29);
      // }
    }

    img {
      max-width: 100%;
    }
  }
}
