.footer-section {
  background: var(--color-footer-bg);
  width: var(--width-100);
  // padding: calcRem(30, 36, 22);
  padding: 56px 36px 70px;

  @include respond-above(sm) {
    padding: 56px 0;
  }
}

.footer-section {
  margin-top: get-vw(140px);
}
.see-more--wrapper + .footer-section {
  margin-top: 0;
}

.footer-wrapper {
  width: calc(var(--width-100) - 70px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-above(sm) {
    width: 632px;
  }

  @include respond-above(md) {
    width: 888px;
  }

  @include respond-above(lg) {
    flex-direction: row;
    width: 1170px;
  }

  @include respond-above(xl) {
    width: 1600px;
  }

  &--left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include respond-below(sm) {
      border-top: 1px solid var(--color-black);
      padding-top: 24px;
    }

    @include respond-between(sm, lg) {
      width: 100%;
      flex-direction: row;
    }

    @include respond-above(lg) {
      flex-direction: row;
      margin-left: 137px;
    }

    @include respond-above(xl) {
      margin-left: 270px;
    }
  }

  &--right {
    flex: 1;

    @include respond-between(sm, lg) {
      width: 100%;
    }

    @include respond-above(lg) {
      max-width: 272px;
    }

    @include respond-above(xl) {
      max-width: 514px;
    }
  }

  &--copyright {
    width: var(--width-100);
    color: var(--color-black);
    @include NeutraText-Book;
    font-size: 10px;
    width: 80%;
    margin: 5px auto 25px;

    @include respond-above(sm) {
      font-size: 10px;
      margin: 35.5px 0 0;
      width: inherit;
    }

    @include respond-above(md) {
      font-size: 12px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.bottom-footer {
  @include respond-below(sm) {
    text-align: center;
    // margin-bottom: 40px;
  }

  @include respond-above(sm) {
    margin-top: 60px;
    border-top: 1px solid var(--color-black);
  }

  @include respond-between(sm, lg) {
    .footer-wrapper {
      flex-direction: row;
    }
  }
}

.footer-links {
  &--title {
    @include NeutraText-BoldAlt;
    font-size: 15px;
    color: var(--color-black);
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-black);
    padding-bottom: 20px;
    position: relative;

    @include respond-above(sm) {
      border-bottom: none;
      margin-bottom: 0;
    }

    @include respond-below(sm) {
      &:after {
        content: "";
        position: absolute;
        background: url("../../images/plus-icon.svg");
        background-position: center;
        background-size: cover;
        width: 14px;
        height: 14px;
        right: 15px;
      }
    }
  }

  &--ul {
    &__list {
      // text-transform: uppercase;
      letter-spacing: calcRem(1);
      display: flex;

      &:not(:last-child) {
        margin-bottom: 15px;

        @include respond-above(sm) {
          margin-bottom: 14px;
        }
      }
    }

    &__link {
      color: var(--color-black);
      @include NeutraText-BookAlt;
      font-size: 14px;
    }
  }
}

.footer-links--title + div {
  display: none;

  @include respond-above(sm) {
    display: block;
  }
}

.footer-links.open .footer-links--title + div {
  display: block;
  margin-bottom: 20px;
}
.footer-links.open .footer-links--title {
  border: none;
  padding-bottom: 0;
  @include respond-below(sm) {
    &:after {
      background: url("../../images/minus-icon.svg");
    }
  }
}
.footer-links.open {
  @include respond-below(sm) {
    border-bottom: 1px solid var(--color-black);
    margin-bottom: 20px;
  }
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  margin: 9px 0 38px;

  @include respond-above(sm) {
    margin-bottom: get-vw(74px);
    margin-top: 0;
  }

  .title {
    @include NeutraText-BoldAlt;
    font-size: calcRem(15);
    margin-bottom: calcRem(20);
    text-transform: uppercase;

    @include respond-above(sm) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .sub-title {
    @include NeutraText-BookAlt;
    font-size: calcRem(15);
    margin-bottom: calcRem(15);

    @include respond-above(sm) {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  .input-button-wrapper {
    position: relative;
  }

  input {
    border: 1px solid #cbcbcb;
    background: var(--color-white);
    @include NeutraText-DemiAlt;
    height: calcRem(52);
    width: 100%;
    font-size: calcRem(10);
    padding-left: calcRem(13);

    @include respond-above(sm) {
      font-size: 14px;
      height: 55px;
      width: 100%;
      padding-left: 21px;
    }
  }

  button {
    background: transparent;
    border: none;
    @include NeutraText-Bold;
    color: var(--color-black);
    height: calcRem(52);
    font-size: calcRem(10);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: calcRem(40);

    @include respond-above(sm) {
      font-size: get-vw(17px);
      height: 55px;
    }
  }
}

.footer-images {
  display: flex;
  justify-content: space-between;

  &--img {
    width: calcRem(64);
    height: calcRem(64);

    @include respond-above(sm) {
      width: get-vw(120px);
      height: get-vw(120px);
    }
  }
}

.footer-social {
  display: flex;
  margin-top: calcRem(20);

  @include respond-below(sm) {
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }

  @include respond-above(sm) {
    margin-top: 26px;
  }

  &--icon {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;

    @include respond-above(sm) {
      width: get-vw(36px);
      height: get-vw(36px);
    }

    &:not(:first-child) {
      margin-left: calcRem(13);

      @include respond-above(sm) {
        margin-left: calcRem(12);
      }

      @include respond-above(md) {
        margin-left: calcRem(16);
      }

      @include respond-above(lg) {
        margin-left: calcRem(18);
      }

      @include respond-above(xl) {
        margin-left: calcRem(29);
      }
    }

    img {
      max-width: 100%;
    }
  }
}
