.full-width-section {

  @include respond-above(sm) {
    margin-bottom: get-vw(62px);
  }

  &--wrapper {
    display: flex;

    @include respond-above(sm) {
      margin-bottom: get-vw(41px);
      height: get-vw(275px);
    }

    &.even {
      flex-direction: row-reverse;

      .full-width-section--image {

        @include respond-above(sm) {
          margin-left: get-vw(54px);
          margin-right: inherit;
        }
      }

      .full-width-section--content {

        .content-title {
          @include respond-above(sm) {
            margin-left: inherit;
          }
        }

        .quote {

          @include respond-above(sm) {
            margin-right: get-vw(121px);
          }
        }

        .arrow {

          @include respond-above(sm) {
            margin-right: inherit;
            margin-left: get-vw(90px);
          }
        }
      }
    }
  }

  &--image {
    position: relative;

    @include respond-above(sm) {
      width: get-vw(302px);
      height: get-vw(258px);
      margin-right: get-vw(54px);
    }

    .img-fluid {
      height: 100%;
    }
  }

  &--content {
    display: flex;
    align-items: center;
    background: var(--color-tile-bg);

    @include respond-above(sm) {
      flex: 1;
      justify-content: space-between;
    }

    .content-title {
      text-transform: uppercase;

      @include respond-above(sm) {
        @include NeutraText-BoldAlt;
        font-size: get-vw(32px);
        margin-left: get-vw(121px);
      }
    }

    .quote {

      @include respond-above(sm) {
        @include NeutraText-BookAlt;
        font-size: get-vw(32px);
      }
    }

    .arrow {

      @include respond-above(sm) {
        margin-right: get-vw(90px);
      }
    }

  }
}
