.full-width-section {

  @include respond-above(sm) {
    margin-bottom: get-vw(103px);
  }

  &--wrapper {
    display: flex;
    margin: auto;
    margin-bottom: calcRem(18);

    @include respond-above(sm) {
      margin-bottom: get-vw(41px);
      height: get-vw(198px);
      width: get-vw(1280px);
    }

    @include respond-below(sm){
      .full-width-section--content {
        margin-left: 10px;
        padding: calcRem(18, 20);
      }
    }

    &.even {
      flex-direction: row-reverse;

      .full-width-section--image {

        @include respond-above(sm) {
          margin-left: get-vw(54px);
          margin-right: inherit;
        }
      }

      .full-width-section--content {

        .content-title {
          @include respond-above(sm) {
            margin-left: inherit;
          }
        }

        .quote {

          @include respond-above(sm) {
            margin-right: get-vw(121px);
          }
        }

        .arrow {
          margin-right: calcRem(23);
          margin-left: 0;

          @include respond-above(sm) {
            margin-right: inherit;
            margin-left: get-vw(54px);
          }
        }
      }

      @include respond-below(sm){
        .full-width-section--content {
          margin-right: 10px;
          margin-left: 0;
        }
      }
    }
  }

  &--image {
    position: relative;
    width: calcRem(105);
    height: calcRem(94);

    @include respond-above(sm) {
      width: get-vw(201px);
      height: get-vw(179px);
      margin-right: get-vw(36px);
    }

    .img-fluid {
      height: 100%;
      position: relative;
      z-index: 1;
    }
  }

  &--content {
    display: flex;
    align-items: center;
    background: var(--color-tile-bg);

    @include respond-above(sm) {
      flex: 1;
      justify-content: space-between;
    }

    .content-title {
      @include NeutraText-BoldAlt;
      text-transform: uppercase;
      color: var(--color-text);
      letter-spacing: 0.45px;
      font-size: calcRem(18);
      margin-bottom: calcRem(13);

      @include respond-above(sm) {
        font-size: get-vw(21px);
        margin-left: get-vw(81px);
        letter-spacing: get-vw(2px);
        margin-bottom: 0;
      }
    }

    .quote {
      position: relative;
      display: flex;
      align-items: center;
      @include NeutraText-BookAlt;
      color: var(--color-text);
      font-size: calcRem(12);
      line-height: calcRem(16);

      @include respond-above(sm) {
        font-size: get-vw(21px);
        line-height: 1;
      }

      &.quote-icon {

        blockquote {
          position: relative;

          &::before, &::after {
            content: '';
            background-size: cover;
            position: relative;
            display: none;

            @include respond-above(sm) {
              width: get-vw(55px);
              height: get-vw(55px);
              display: block;
            }
          }

          &::before {
            background-image: url("../../images/quote-left.svg");
            margin-top: get-vw(-40px);
            margin-right: get-vw(10px);
          }

          &::after {
            background-image: url("../../images/quote-right.svg");
            margin-top: get-vw(40px);
            margin-left: get-vw(10px);
          }
        }
        }
    }

    .arrow {
      width: calcRem(45);
      height: calcRem(45);
      margin-left: calcRem(18);

      @include respond-above(sm) {
        margin-right: get-vw(60px);
        width: get-vw(85px);
        height: get-vw(85px);
      }

      img {
        width: 100%;
      }
    }

    &.desktop {
      display: none;

      @include respond-above(sm) {
        display: flex;
      }
    }

    &.mobile {
      display: flex;
      flex: 1;

      .content-mobile {
        flex: 1;
      }

      @include respond-above(sm) {
        display: none;
      }
    }

  }
}
