.full-width-section {

  margin-bottom: 80px;

  @include respond-below(md) {
    margin-bottom: 50px;
  }

  &--wrapper {
    display: flex;
    margin: 0 auto 30px;
    max-width: 900px;

    @include respond-below(md) {
      max-width: 684px;
      margin: 0 auto 20px;
    }

    @include respond-below(sm) {
      margin: 0 auto 15px;
    }

    &.even {
      flex-direction: row-reverse;

      .full-width-section--image {
        margin-right: inherit;
        margin-left: 24px;

        @include respond-below(md) {
          margin-right: inherit;
          margin-left: 19px;
        }

        @include respond-below(sm) {
          margin-right: inherit;
          margin-left: 11px;
        }
      }

      .full-width-section--content {
        padding: 0 50px 0 44px;

        @include respond-below(md) {
          padding: 0 34px 0 33px;
        }

        @include respond-below(sm) {
          padding: 0 16px;
        }

        .content-title {
          @include respond-above(sm) {
            margin-left: inherit;
          }
        }

        .arrow {
          @include respond-below(sm) {
            margin-left: inherit;
            margin-right: 22px;
          }
        }
      }
    }
  }

  &--image {
    position: relative;
    width: 143px;
    height: 124px;
    margin-right: 24px;

    @include respond-below(md) {
      width: 108px;
      height: 94px;
      margin-right: 19px;
    }

    @include respond-below(sm) {
      margin-right: 11px;
    }

    .img-fluid {
      height: 100%;
      position: relative;
      z-index: 1;
    }

    &.box-shadow-right:before {
      left: 4px;
      top: 4px;
    }

    &.box-shadow-left:before {
      left: -4px;
      top: 4px;
    }
  }

  &--content {
    display: flex;
    align-items: center;
    background: var(--color-tile-bg);
    flex: 1;
    justify-content: space-between;
    height: 128px;
    padding: 0 44px 0 50px;

    @include respond-below(md) {
      height: 98px;
      padding: 0 33px 0 34px;
    }

    @include respond-below(sm) {
      padding: 0 16px;
    }

    .content-title {
      @include NeutraText-BoldAlt;
      text-transform: uppercase;
      color: var(--color-text);
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.56px;

      @include respond-below(md) {
        font-size: 13px;
        line-height: 14px;
        letter-spacing: 0.46px;
      }

      @include respond-below(sm) {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.45px;
        margin-bottom: 13px;
      }
    }

    .quote {
      position: relative;
      display: flex;
      align-items: center;
      @include NeutraText-BookAlt;
      color: var(--color-text);
      font-size: 14px;
      line-height: 16px;
      max-width: 320px;
      text-align: center;

      @include respond-below(md) {
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 0.18px;
      }

      @include respond-below(md) {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
        max-width: 275px;
      }

      &.quote-icon {

        blockquote {
          position: relative;
          display: flex;
          align-items: center;

          &::before, &::after {
            content: '';
            background-size: cover;
            position: relative;
            width: 25px;
            height: 25px;

            @include respond-below(md) {
              width: 19px;
              height: 19px;
            }

            @include respond-below(sm) {
              display: none;
            }
          }

          &::before {
            background-image: url("../../images/quote-left.svg");
            margin-top: -40px;
            margin-right: 22px;

            @include respond-below(md) {
              margin-right: 8px;
              margin-top: -30px;
            }
          }

          &::after {
            background-image: url("../../images/quote-right.svg");
            margin-top: 40px;
            margin-left: 22px;

            @include respond-below(md) {
              margin-left: 8px;
              margin-top: 30px;
            }
          }
        }
        }
    }

    .arrow {
      width: 60px;
      height: 60px;

      @include respond-below(md) {
        width: 46px;
        height: 46px;
      }

      @include respond-below(sm) {
        margin-left: 22px;
        width: 45px;
        height: 45px;
      }

      img {
        width: 100%;
      }
    }

    &.desktop {
      display: none;

      @include respond-above(sm) {
        display: flex;
      }
    }

    &.mobile {
      display: flex;
      flex: 1;

      .content-mobile {
        flex: 1;
      }

      @include respond-above(sm) {
        display: none;
      }
    }

  }
}
