.header-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 130px;

  @include respond-below(sm) {
    padding-top: 8px;
  }

  @include respond-above(sm) {
    height: 82px;
    justify-content: center;
  }

  @include respond-above(md) {
    height: 98px;
  }

  &--logo {
    max-width: calcRem(152);
    width: 100%;

    @include respond-above(sm) {
      max-width: 162px;
    }

    @include respond-above(md) {
      max-width: 175px;
    }
  }

  a {
    display: flex;
    align-items: center;
  }
}

.header-navigation {
  background: var(--color-tile-bg);
  width: var(--width-100);

  @include respond-below(sm) {
    position: absolute;
    top: 0;
    background: transparent;
    width: 60px;
    z-index: 2;
  }

  &--ul {
    display: flex;
    padding: calcRem(10, 0);

    @include respond-above(sm) {
      padding: 11px 0;
      justify-content: center;
    }
  }

  &--list {
    margin: calcRem(0, 14);

    &:first-child {
      a {
        @include NeutraText-Bold;
      }
    }

    @include respond-below(sm) {
      border-bottom: 1px solid var(--color-black);
      padding: 25px 0 15px;
    }

    @include respond-above(sm) {
      margin-left: 28px;
      margin-right: 28px;
    }

    @include respond-above(md) {
      margin-left: 45px;
      margin-right: 45px;
    }
  }

  &--link {
    color: var(--color-black);
    @include NeutraText-DemiAlt;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.21px;

    @include respond-below(sm) {
      font-size: 12px;
      letter-spacing: 0.4px;
    }
  }
}

.shop-btemptd-btn {
  position: absolute;
  right: 0;
  @include NeutraText-DemiAlt;
  font-size: calcRem(11);
  color: var(--color-black);
  text-transform: uppercase;
  background: var(--color-tile-bg);
  padding-left: get-vw(90px);
  padding-right: get-vw(90px);
  padding-top: get-vw(30px);
  padding-bottom: get-vw(27px);

  &.shop-btemptd-btn-desktop {
    display: none;

    @include respond-above(sm) {
      display: block;
      font-size: get-vw(32px);
    }
  }

  &.shop-btemptd-btn-mobile {
    display: block;

    @include respond-above(sm) {
      display: none;
    }
  }
}

.header-navigation-mobile {
  background: var(--color-nav-bg);
  width: 40px;
  height: calcRem(60);
  display: flex;
  align-items: center;
  padding-left: 20px;
  @include NeutraText-BoldAlt;
  font-size: calcRem(15);
  text-transform: uppercase;

  &.mobile-nav-open {
    width: 300px;
    background: var(--color-white);
    border: 1px solid var(--color-black);
    border-bottom: 0;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
    position: relative;
  }

  @include respond-above(sm) {
    display: none;
    visibility: hidden;
  }

  // img {
  //   margin-left: calcRem(10);
  // }
}

.header-navigation-mobile + .header-navigation--ul {
  @include respond-below(sm) {
    flex-direction: column;
    padding: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease;
    width: 300px;
    z-index: 1;
    position: relative;
    margin-top: -2px;
  }
}
.header-navigation-mobile.mobile-nav-open + .header-navigation--ul {
  visibility: visible;
  overflow: visible;
  padding-bottom: calcRem(20);
  height: 370px;
  background: var(--color-white);
  border: 1px solid var(--color-black);
  border-top: 0;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
}

.header-navigation-mobile {
  .open-state {
    display: block;
    // width: 300px;
  }

  .close-state {
    display: none;
  }

  &.mobile-nav-open {
    .open-state {
      display: none;
    }

    .close-state {
      display: block;
      position: absolute;
      right: 22px;
      top: 17px;
      width: 23px;
      height: 23px;
    }
  }
}
