.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calcRem(72);

  @include respond-above(sm) {
    height: get-vw(306px);
  }

  &--logo {
    max-width: calcRem(152);
    width: 100%;

    @include respond-above(sm) {
      max-width: get-vw(456px);
    }
  }
}


.header-navigation {
  background: var(--color-tile-bg);
  width: var(--width-100);

  &--ul{
    display: flex;
    justify-content: center;
    padding: calcRem(10, 0);

    @include respond-above(sm) {
      padding: calcRem(35, 0);
    }
  }

  &--list {
    margin: calcRem(0, 23);

    @include respond-above(sm) {
      margin: calcRem(0, 87);
    }
  }

  &--link {
    color: var(--color-black);
    @include NeutraText-Bold;
    font-size: calcRem(12);
    text-transform: uppercase;

    @include respond-above(sm) {
      font-size: get-vw(22px);
    }
  }
}

.shop-btemptd-btn {
  position: absolute;
  right: 0;
  @include NeutraText-DemiAlt;
  font-size: get-vw(32px);
  color: var(--color-black);
  text-transform: uppercase;
  background: var(--color-tile-bg);
  padding-left: get-vw(90px);
  padding-right: get-vw(90px);
  padding-top: get-vw(30px);
  padding-bottom: get-vw(27px);

  &.shop-btemptd-btn-desktop {
    display: none;

    @include respond-above(sm) {
      display: block;
    }
  }

  &.shop-btemptd-btn-mobile {
    display: block;

    @include respond-above(sm) {
      display: none;
    }
  }
}


.header-navigation-mobile {
  background: var(--color-nav-bg);
  width: var(--width-100);
  height: calcRem(60);
  display: flex;
  align-items: center;
  padding-left: calcRem(26);

  @include respond-above(sm) {
    display: none;
    visibility: hidden;
  }

  img {
    margin-left: calcRem(10);
  }
}

.header-navigation-mobile + .header-navigation--ul {

  @include respond-below(sm) {
    flex-direction: column;
    padding: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease;
  }
}
.header-navigation-mobile.mobile-nav-open + .header-navigation--ul{
  height: calcRem(90);
  visibility: visible;
  overflow: visible;
  padding-bottom: calcRem(20);
}

