.more-blog {
  position: relative;
  margin-bottom: calcRem(25);

  @include respond-above(sm) {
    margin-bottom: get-vw(134.3px);
  }

  &::before {
    content: '';
    position: absolute;
    background: var(--color-nav-bg);
    width: 100%;
    height: calcRem(127);
    z-index: -1;
    top: calcRem(40);
  }


  @include respond-above(sm) {
    &::before {
      height: get-vw(210px);
      top: get-vw(110px);
    }
  }

  &--wrapper {
    position: relative;
    z-index: 1;
    // width: calc(var(--width-100) - 46px);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @include respond-above(sm) {
      width: get-vw(1675px);
      flex-direction: row;
    }
  }

  &--title {
    position: relative;
    z-index: 1;
    @include ProximaNova-Light;
    font-size: calcRem(22);
    color: var(--color-gray);
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: calcRem(25);
    letter-spacing: 2px;

    &:before, &:after {
      content: '';
      position: absolute;
      width: 33px;
      height: 1px;
      background: var(--color-gray);
      top: 50%;

      @include respond-above(sm) {
        width: get-vw(159px);
      }
    }

    &:before {
      left: 13px;

      @include respond-above(sm) {
        left: get-vw(-269px);
      }
    }

    &:after {
      right: 13px;

      @include respond-above(sm) {
        right: get-vw(-269px);
      }
    }

    @include respond-above(sm) {
      font-size: get-vw(64px);
      margin-bottom: get-vw(80px);
      max-width: get-vw(774px);
    }
  }

  .blog-tile {
    flex: 1;
    padding: calcRem(0, 23);
    max-width: 100%;


    &:not(:last-child) {
      margin-bottom: calcRem(30);

      @include respond-above(sm) {
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {
      @include respond-above(sm) {
        margin-left: get-vw(97px);
        margin-right: get-vw(97px);
      }
    }

    &:not(:first-child) {
      @include respond-below(sm) {
        display: none;
      }
    }

    @include respond-above(sm) {
      padding: 0;
      max-width: get-vw(493.67px);
    }

    &--image {
      width: 100%;
      height: calcRem(212);

      @include respond-above(sm) {
        height: get-vw(318px);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--category {
      @include ProximaNova-Light;
      font-size: calcRem(19);
      line-height: calcRem(22);
      margin-bottom: calcRem(2);
      margin-top: calcRem(13);

      @include respond-above(sm) {
        font-size: get-vw(28px);
        line-height: get-vw(32px);
        margin-bottom: get-vw(7px);
        margin-top: get-vw(18px);
      }
    }

    &--heading {
      text-transform: uppercase;
    }

    &--para {
      @include ProximaNova-Light;
      font-size: calcRem(14);
      line-height: calcRem(18);
      margin-top: calcRem(5);

      @include respond-above(sm) {
        font-size: get-vw(20px);
        line-height: get-vw(26px);
        margin-top: get-vw(7px);
      }
    }

    .btn {
      margin-top: calcRem(30);

      @include respond-above(sm) {
        margin-top: get-vw(22px);
      }
    }
  }
}

.pagination {

  &--wrapper {
    max-width: calcRem(336);
    width: 100%;
    margin: auto;

    @include respond-above(sm) {
      max-width: get-vw(400px);
    }
  }

  .pagination-box {
    display: flex;
    width: 100%;
    align-items: center;

    &--btn {
        width: calcRem(46);
        height: calcRem(27);
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-article-bg);
        margin: calcRem(0, 37);


        @include respond-above(sm) {
          width: get-vw(69px);
          height: get-vw(40px);
          margin-left: get-vw(37px);
          margin-right: get-vw(37px);
        }
    }

    &--numbers {
      display: flex;

      li {
        letter-spacing: calcRem(10);

        @include respond-above(sm) {
          letter-spacing: get-vw(10px);
        }

        a {
          @include ProximaNova-Light;
          font-size: calcRem(19);
          color: var(--color-gray);

          @include respond-above(sm) {
            font-size: get-vw(19px);
          }

          &.active {
            color: var(--color-black);
          }
        }
      }
    }
  }

}


.category-posts {
  margin-top: calcRem(23px);

  // @include respond-above(sm) {
  //   margin-top: 0;
  // }

  .more-blog {
    margin-bottom: calcRem(36);

    @include respond-above(sm) {
      margin-bottom: get-vw(60px);
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      height: calcRem(127);
      top: -18px;
      background: var(--color-article-bg);

      @include respond-above(sm) {
        width: 92%;
        left: 4%;
        background: var(--color-article-bg);
        top: get-vw(-30px);
      }
    }

    .blog-tile {
      &:not(:first-child) {
        display: none;

        @include respond-above(sm) {
          display: block;
        }
      }
    }
  }
}
