
.pagination {

  &--wrapper {
    max-width: calcRem(336);
    width: 100%;
    margin: 80px auto 40px;

    @include respond-above(sm) {
      max-width: get-vw(400px);
      margin: auto;
    }
  }

  .pagination-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    &--btn {
        width: calcRem(46);
        height: calcRem(27);
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--color-article-bg);
        margin: calcRem(0, 37);


        @include respond-above(sm) {
          width: get-vw(69px);
          height: get-vw(40px);
          margin-left: get-vw(60px);
          margin-right: get-vw(60px);
        }

        img {
          width: 100%;
        }
    }

    &--numbers {
      display: flex;

      li {
        letter-spacing: calcRem(10);

        @include respond-above(sm) {
          letter-spacing: get-vw(10px);
        }

        a {
          @include NeutraText-BookAlt;
          font-size: calcRem(19);
          color: var(--color-gray);

          @include respond-above(sm) {
            font-size: get-vw(28px);
          }

          &.active {
            color: var(--color-black);
          }
        }
      }
    }
  }

}

.category-posts-desktop {
  display: block;

  @include respond-below(sm) {
    display: none;
  }
}

.category-posts-mobile {
  display: none;

  @include respond-below(sm) {
    display: block;
    margin-top: 50px;
  }
}

.category-posts {

  .more-blog {
    margin-bottom: calcRem(36);

    @include respond-above(sm) {
      margin-bottom: get-vw(60px);
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      height: calcRem(127);
      top: -18px;
      background: var(--color-article-bg);

      @include respond-above(sm) {
        width: 92%;
        left: 4%;
        background: var(--color-article-bg);
        top: get-vw(-30px);
      }
    }

    .blog-tile {
      &:not(:first-child) {
        display: none;

        @include respond-above(sm) {
          display: block;
        }
      }
    }
  }

  .explore-blog {
    max-width: 1112px;
    margin: 0 auto 127px;

    @include respond-below(lg) {
      max-width: 1024px;
    }

    @include respond-below(md) {
      max-width: 768px;
      margin: 0 auto 55px;
    }

    @include respond-below(sm) {
      max-width: 375px;
      margin: 0 auto 60px;
    }

    &:after {
      background: var(--color-tile-bg);
      height: 305px;
      bottom: -46px;

      @include respond-below(md) {
        height: 240px;
        bottom: -30px;
      }

      @include respond-below(sm) {
        height: 202px;
        bottom: -30px;
      }
    }

    &--wrapper {
      max-width: 988px;
      justify-content: center;

      @include respond-below(lg) {
        max-width: 927px;
      }

      @include respond-below(md) {
        max-width: 696px;
      }

      @include respond-below(sm) {
        flex-direction: row;
        max-width: 354px;
        align-items: flex-start;
      }
    }

    &--box {
      width: 299px;

      @include respond-below(md) {
        width: 212px;
      }

      @include respond-below(sm) {
        width: 171px;
        margin-bottom: 0;
      }

      &:nth-child(2), &:nth-child(3) {
        margin: 0 0 0 43px;

        @include respond-below(lg) {
          margin: 0 0 0 39px;
        }

        @include respond-below(md) {
          margin: 0 0 0 30px;
        }

        @include respond-below(sm) {
          margin: 0 0 0 9px;
        }
      }
    }

    &--image {
      height: 190px;

      @include respond-below(lg) {
        height: 183px;
      }

      @include respond-below(md) {
        height: 134px;
      }

      @include respond-below(sm) {
        height: 109px;
      }
    }

    &--content {
      background: var(--color-heighlight-1);
      color: var(--color-black);
      padding: 16px 15px 20px 22px;

      @include respond-below(md) {
        padding: 12px 12px 12px 15px;
      }

      @include respond-below(sm) {
        padding: 8px 10px 12px 12px;
      }

      &.blog-pagination {
        // align-items: flex-start;
      }

      &__category {
        font-size: 14px;
        letter-spacing: 0.49px;

        @include respond-below(md) {
          font-size: 12px;
          margin-bottom: 8px;
        }
      }

      &__title {
        font-size: 19px;
        line-height: 21px;

        @include respond-below(md) {
          font-size: 16px;
          line-height: 18px;
        }

        @include respond-below(sm) {
          min-height: 104px;
        }
      }
    }
  }
}
