.question-set-one {
  background: var(--color-light-tan);
  padding: 60px 0 40px;
  margin: 80px auto;

  @include respond-below(sm) {
    background: transparent;
    padding: 0;
  }

  &--wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 60px;

    @include respond-above(sm) {
      width: get-vw(1590px);
    }

    @include respond-below(sm) {
      flex-direction: column;
      gap: 20px;
    }

    .left-column,
    .right-column {
      width: 50%;
      padding: 40px 20px;

      @include respond-below(sm) {
        background: var(--color-light-tan);
        width: 100%;
      }
    }

    &.left-image {
      flex-direction: row-reverse;
    }
  }

  .question-box {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;

    .number {
      background: var(--color-purple);
      border: 1px solid var(--color-white);
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include NeutraText-Bold;
      font-size: 16px;
      color: var(--color-white);
    }

    .question-answer {
      flex: 1;
    }

    .question {
      @include NeutraText-BoldAlt;
      font-size: 16px;
    }

    .answer {
      @include NeutraText-Book;
      font-size: 15px;
    }
  }

  .question-image {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    position: relative;
    margin-top: -20px;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 350px;
      max-height: 350px;
      left: -20px;
      bottom: -20px;
      background: var(--color-purple);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
  }
}

.temptd-to {
  margin: 80px 0;
  &--wrapper {
    margin: auto;
    max-width: 965px;
    text-align: center;
  }

  .image {
    img {
      width: 100%;
    }
  }

  .heading {
    @include Recoleta-Alt-Black;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin: 40px 0 20px;
    display: inline-block;
    border: 1px solid var(--color-black);
    padding: 5px 15px;
  }

  .sub-heading {
    @include NeutraText-LightAlt;
    font-size: 24px;
    letter-spacing: 0.3em;
  }
}
