.full-width-container {

  &--wrapper {
    width: 100%;
    padding: calcRem(0, 23);

    @include respond-above(sm) {
      width: get-vw(1720px);
      margin: auto;
    }

  }

  &--image {
    margin-bottom: calcRem(40);
    text-align: center;

    @include respond-above(sm) {
      margin-bottom: get-vw(80px);
    }

    img {
      max-width: 100%;
    }
  }
}
