.spacer-80 {
  width: var(--width-100);
  height: calcRem(22);

  @include respond-above(sm) {
    height: get-vw(80px);
  }
}

.spacer-120 {
  width: var(--width-100);
  height: calcRem(44);

  @include respond-above(sm) {
    height: get-vw(120px);
  }
}
