/* Question Answer block Css */
.article-questions.even-sequence .article-questions--image {
  width: 30%;
}

/* Quote block Css */
.product-quote .product-quote--image {
  width: 30%;
}
.product-quote .product-quote--content {
  font-size: 1.4em;
}

/*Data with image block CSS*/
.article-questions--wrapper .article-questions--image {
  width: 30%;
  margin-left: 1em;
}
.article-questions--wrapper .article-questions--content {
  min-width: 70%;
  max-width: 70%;
  line-height: 1em;
}

/*Product gallery wrapper block CSS*/
.product-gallery:before {
  width: 100%;
}
.product-gallery .product-gallery--box {
  padding: 0 10px;
}

/*Text only list format block CSS*/
.list-text-format .list-box.list-box-one .list-box--content,
.list-text-format .list-box.list-box-two .list-box--content,
.list-text-format .list-box.list-box-three .list-box--content {
  flex: unset;
}

/*Text image list format block CSS*/
.list-format .list--image {
  width: 30%;
}

/*Video block CSS*/
.video-full-width,
.video-full-width .video-caption {
  width: 100%;
}

/*Video Image and Video block CSS*/
.video-image--wrapper {
  width: 100%;
}

/*Horizonatal line block CSS*/
.wacoal-seperator {
  margin-bottom: 0;
}

.fixes-list--box.odd,
.fixes-list--box.even {
  width: 80%;
}

.wp-block.list-text-image .image-name img {
  width: 380px;
  height: 380px;
}

.block-editor-block-list__layout .block-editor-block-list__block:after {
  margin-left: 50px;
  margin-top: 80px;
}

.product-quote--content {
  font-size: 26px;
}

.product-quote--content:after {
  margin-top: 130px !important;
  margin-left: 70% !important;
}

.wp-block-buttons
  > .wp-block-button.has-custom-font-size
  .wp-block-button__link {
  background: inherit !important;
}

.customer-review .review-content {
  flex-basis: 70% !important;
}
