h1, h2, h3, h4{
  @include BentonModDisp-Regular;
}
h1 {
  font-size: calcRem(54);
  line-height: calcRem(49);

  @include respond-above(sm) {
    font-size: get-vw(165px);
    line-height: 1;
  }
}

h2 {
  font-size: calcRem(36);
  line-height: calcRem(35);

  @include respond-above(sm) {
      font-size: get-vw(115px);
      line-height: get-vw(109px);
  }
}

h3 {
  font-size: calcRem(54);
  line-height: calcRem(49);

  @include respond-above(sm) {
    font-size: get-vw(93px);
    line-height: get-vw(89px);
  }
}

h4 {
  font-size: calcRem(29);
  line-height: calcRem(44);

  @include respond-above(sm) {
    font-size: get-vw(46px);
    line-height: 1;
  }
}

h5 {
  font-size: calcRem(29);
  line-height: 1;
  @include BentonModDisp-Bold;

  @include respond-above(sm) {
    font-size: get-vw(30px);
    line-height: get-vw(33px);
  }
}
