//-----------------------------------------------------------------
// Color Palette
//-----------------------------------------------------------------
$brand-white: #FFFFFF;
$brand-black: #000000;
// Branding Colors
$brand-1: #59c82a;
$error: #e50000;
$gray-darker: #151515; // Font base color
$gray-dark: #b1b1b1; //
$gray: #cacaca; //
$gray-light: #d5d5d5; //
$gray-lighter: #CACACA; //
$gray-white: #D8D8D8;
$gray-1: #ebebeb;
$gray-light-2: #E7E7E7;
$gray-light-3: #848484;
//-----------------------------------------------------------------
// Color Classes
//-----------------------------------------------------------------
