:root {
  --color-white:            #ffffff;
  --color-black:            #000000;
  --color-primary:          #D8B9D8;
  --color-secondary:        #6D4F6D;
  --color-heighlight-1:     #E6DBEA;
  --color-heighlight-2:     #F7A399;
  --color-light-yellow:     #F1EFD9;
  --color-gray:             #585858;
  --color-gray-light:       #999999;
  --color-tile-bg:          #F8F3F0;
}
