:root {
  --color-white:            #ffffff;
  --color-black:            #000000;
  --color-gray:             #999999;
  --color-light-gray:       #D0D0D0;
  --color-nav-bg:           #B1A491;
  --color-hero-bg:          #EAE6E1;
  --color-error:            #9C304D;
  --color-feat-article-bg:  #FAF7F5;
  --color-article-bg:       #F2EBE5;

  --color-hover-dark:       #343434;
  --color-hover-light:      #CBBDAA;
  --width-100:               100%;
  --swiper-button-background: rgba(250, 247, 245, 0.75);
}
