:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #d8b9d8;
  --color-secondary: #6d4f6d;
  --color-heighlight-1: #e6dbea;
  --color-heighlight-2: #f7a399;
  --color-light-yellow: #f1efd9;
  --color-gray: #585858;
  --color-gray-light: #999999;
  --color-gray-lighter: #959595;
  --color-tile-bg: #f8f3f0;
  --color-text: #5e455e;
  --color-footer-bg: #f4f4f4;
  --color-light-tan: #f2efeb;
  --color-purple: #d7b9d5;
}
