/* Question Answer block Css */
.three-reason--wrapper {
  width: 100%;
}

.section.wow-factor {
  width: 100%;
}

.wow-factor--wrapper.top {
  width: 100%;
}

.wow-factor--left.box-shadow-right {
  width: 100%;
  margin: 0;
  padding: 10px;
}

.wow-factor--wrapper.bottom {
  width: 100%;
}

.wow-factor--left .cta-button,
.wow-factor--right .cta-button {
  height: 50px;
}

section.wow-factor p {
  font-size: 14px;
}

/*text image list block CSS*/
.image-content .image-content--wrapper {
  width: 100%;
}

.image-content .even,
.image-content .odd {
  width: 100%;
  margin: 10px 0;
}

.image-content .image-content--image {
  width: 100%;
  height: 200px;
}

.image-content .image-content--content.box-shadow-right {
  width: 100%;
}

.image-content .image-content--content__head {
  font-size: 20px;
}

.wow-factor--banner {
  height: 300px;
}

/*Quotes List block CSS*/
section.image-content.image-content-gif {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

section.image-content.image-content-gif a {
  width: 100%;
}

.image-content.image-content-gif .image-content--image {
  width: 100%;
  height: 350px;
}

.image-content.image-content-gif .image-content--content {
  width: 100%;
  top: 35px;
}

.image-content.image-content-gif .image-content--content .content-inner {
  top: 40%;
}

.image-content.image-content-gif .image-content--content .quote-left {
  top: -30px;
}

.image-content.image-content-gif .image-content--content .quote-right {
  top: 55%;
}

/* .image-content.image-content-gif .odd,
.image-content.image-content-gif .even {
  padding-bottom: 15%;
} */

.image-content.image-content-gif .shop-now-button {
  margin-bottom: 10%;
  width: 50%;
  padding: 10px;
  font-size: 14px;
}

.image-content.image-content-gif .image-content--content__title {
  margin-top: 35%;
}

/*para CSS*/

section.article--para {
  margin: 10%;
}

.wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
  margin-left: 32px;
}

.wp-block.list-text-image .wp-block-image .components-resizable-box__container{
    width: 350px !important;
    height: 350px !important;
}

.wp-block.list-text-image .wp-block-image img{
  max-width: 100% !important;
  height: 100%;
}

.block-editor-block-list__layout .block-editor-block-list__block:after {
  top: 50%;
}