:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #999999;
  --color-light-gray: #d0d0d0;
  --color-nav-bg: #b1a491;
  --color-hero-bg: #eae6e1;
  --color-error: #9c304d;
  --color-feat-article-bg: #faf7f5;
  --color-article-bg: #f2ebe5;

  --color-hover-dark: #343434;
  --color-hover-light: #cbbdaa;
  --width-100: 100%;
  --swiper-button-background: rgba(250, 247, 245, 0.75);
  --search-border: #8d8d8d;
  --light-gray: #7b7b7b;
}
