.article-header {
  padding-top: calcRem(16);

  @include respond-above(sm) {
    padding-top: get-vw(45px);
  }

  &--wrapper {
    width: var(--width-100);
    margin: auto;
    text-align: center;
    max-width: calcRem(326);

    @include respond-above(sm) {
      max-width: get-vw(1300px);
    }

    &__category {
      font-size: calcRem(22);
      line-height: 1;
      @include ProximaNova-Light;
      display: block;
      margin-bottom: calcRem(12);

      @include respond-above(sm) {
        font-size: get-vw(43px);
        margin-bottom: get-vw(44px);
      }
    }

    &__heading {
      margin-bottom: get-vw(48px);
      text-transform: uppercase;
    }

    &__para {
      @include ProximaNova-Thin;
      text-transform: uppercase;
      margin-left: auto;
      margin-right: auto;
      width: var(--width-100);
      font-size: calcRem(15);
      line-height: calcRem(19);
      margin-bottom: calcRem(32.8);
      letter-spacing: 1px;

      @include respond-above(sm) {
        font-size: get-vw(39px);
        line-height: get-vw(51px);
        margin-bottom: get-vw(56px);
        max-width: get-vw(1030px);
      }

      strong {
        @include ProximaNova-Reg;
      }

      a {
        @include ProximaNova-Reg;
        text-decoration: underline;
      }
    }

    &__seperator {
      width: var(--width-100);
      height: 1px;
      margin: auto;
      background: var(--color-black);
      max-width: calcRem(168.57);
      margin-bottom: calcRem(32.8);

      @include respond-above(sm) {
        max-width: get-vw(422px);
        margin-bottom: get-vw(56px);
      }
    }
  }
}

//
.article-questions {
  margin-bottom: calcRem(40);

  @include respond-above(sm){
    // margin-bottom: get-vw(85px);
    margin-bottom: get-vw(106px);
  }

  &--wrapper {
    width: 100%;
    margin: auto;
    display: flex;

    @include respond-above(sm) {
      max-width: get-vw(1590px);
      width: var(--width-100);
    }
  }

  &--content {
    flex: 1;
    @include BentonModDisp-Regular;
    font-size: calcRem(14);
    line-height: calcRem(18);

    &.single-column {
      width: var(--width-100);
      margin: auto;
      max-width: calcRem(300);

      @include respond-above(sm) {
        max-width: get-vw(1280px);
      }
    }

    @include respond-above(sm) {
        font-size: get-vw(30px);
        line-height: get-vw(40px);
    }

  //   @include respond-above(sm) {
  //     font-size: calcRem(9);
  //     line-height: calcRem(12);
  //     // line-height: get-vw(40px);
  // }

  // @include respond-above(md) {
  //   font-size: calcRem(13);
  //   line-height: calcRem(17);
  //   // line-height: get-vw(40px);
  // }

  // @include respond-above(lg) {
  //   font-size: calcRem(17);
  //   line-height: calcRem(22);
  //   // line-height: get-vw(40px);
  // }

  // @include respond-above(xl) {
  //   font-size: calcRem(25);
  //   line-height: calcRem(32);
  //   // line-height: get-vw(40px);
  // }
  }

  &--image {
    max-width: get-vw(532px);
    width: var(--width-100);
    margin-left: get-vw(82px);

    img {
      max-width: 100%;
    }

    figcaption {
      @include ProximaNova-Light;
      font-size: calcRem(10);
      color: var(--color-gray);
      text-align: center;
      margin-top: calcRem(12);

      @include respond-above(sm) {
        font-size: calcRem(7);
        line-height: 1;
      }
      @include respond-above(md) {
        font-size: calcRem(9);
        line-height: calcRem(10);
      }
      @include respond-above(lg) {
        font-size: calcRem(12);
        line-height: calcRem(13);
      }
      @include respond-above(xl) {
        font-size: calcRem(20);
        line-height: calcRem(22);
      }
    }
  }

  &.odd-sequence {

  }

  &.even-sequence {
    width: calcRem(300);
    margin: auto;

    @include respond-above(sm) {
      width: auto;
      margin-bottom: get-vw(85px);
    }

    .article-questions--wrapper {
      flex-direction: column-reverse;

      @include respond-above(sm) {
        flex-direction: row-reverse;
      }
    }

    .article-questions--image {
      margin: 0 auto 16px;
      max-width: calcRem(136);

      @include respond-above(sm) {
        margin-left: inherit;
        margin-right: get-vw(82px);
        margin-bottom: 0;
        max-width: get-vw(532px);
      }
    }
  }

  &--que {
    margin-bottom: calcRem(22);
    display: inline-block;

    &:not(:first-child){
      margin-top: calcRem(22);

      @include respond-above(sm) {
        margin-top: get-vw(40px);
      }
    }

    @include respond-above(sm) {
      margin-bottom: get-vw(40px);
    }

    span {
        @include BentonModDisp-Bold;
        font-size: calcRem(32);

        @include respond-above(sm) {
          font-size: get-vw(46px);
        }
    }
  }

  &--ans {

    @include respond-below(sm) {
      margin-bottom: calcRem(12);
    }

    &:nth-child(n + 4){

      @include respond-below(sm) {
        margin-bottom: calcRem(34);
      }
    }
  }

  .desktop-article--wrapper {
    display: none;

    @include respond-above(sm) {
      display: flex;
    }
  }

  .mobile-article--wrapper {
    display: flex;

    .article-questions--content {

      figure {
        width: calcRem(153);
        float: right;
        margin: calcRem(0, 0, 16, 16);

        img {
          max-width: 100%;
        }

        figcaption {
          @include ProximaNova-Light;
          font-size: calcRem(10);
          color: var(--color-gray);
          text-align: center;
          margin-top: calcRem(12);
        }
      }
    }

    @include respond-above(sm) {
      display: none;
    }
  }

  strong {
    @include BentonModDisp-Bold;
  }

  a {
    @include BentonModDisp-Bold;
    text-decoration: underline;
  }
}


//
.product-gallery {
  position: relative;
  // margin-bottom: calcRem(58px);

  @include respond-above(sm) {
    // margin-bottom: get-vw(163px);
  }

  &:before {

    @include respond-above(sm) {
      content: '';
      position: absolute;
      width: get-vw(1296px);
      height: 1px;
      background: var(--color-black);
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--wrapper {
    width: var(--width-100);
    margin: auto;
    display: flex;
    position: relative;
    margin-top: calcRem(53);
    flex-wrap: wrap;

    @include respond-above(sm) {
      max-width: get-vw(1590px);
      // justify-content: space-between;
      padding-top: get-vw(56px);
      margin-top: get-vw(42px);
    }
  }

  &--box {
    text-align: center;
    width: calcRem(164.5px);
    margin-bottom: calcRem(13);

    &:nth-child(odd) {
      margin-right: calcRem(10);
    }

    @include respond-above(sm) {
      width: get-vw(250px);
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: get-vw(196.33px);
      }

      &:nth-child(odd) {
        margin-right: get-vw(196.33px);
      }
    }

    &__image {
      width: var(--width-100);
      height: calcRem(144);

      @include respond-above(sm){
        height: get-vw(236px);
      }

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      @include ProximaNova-Bold;
      text-transform: uppercase;
      font-size: calcRem(11);
      line-height: calcRem(12);
      margin-top: calcRem(5);

      @include respond-above(sm) {
        font-size: get-vw(22px);
        line-height: get-vw(26px);
        margin-top: get-vw(24px);
        margin-bottom: get-vw(11px);
      }

    }

    &__size {
      color: var(--color-gray);
      font-size: calcRem(11);
      line-height: calcRem(12);

      @include respond-above(sm) {
        font-size: get-vw(22px);
        line-height: 1;
      }
    }
  }

  &.wacoal-101 {

    margin-bottom: 100px;

    &:before {
      display: none;
    }

    @include respond-above(sm) {
      margin-bottom: get-vw(136px);
    }

    .product-gallery--box {
      margin: 0;

      @include respond-below(sm) {
        width: 250px;
      }
    }

    .product-gallery--box__image {
      border: 0.25px solid #707070;

      @include respond-below(sm) {
        height: 235px;
      }
    }

    .product-gallery--wrapper {
      justify-content: center;
      margin-top: 0;
      padding-top: 0;
    }

    .product-gallery--box__title {

      @include respond-below(sm) {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.55px;
        margin-top: 24px;
      }

    }
  }
}

//
.product-quote {
  padding-top: calcRem(58);
  padding-bottom: calcRem(55);

  @include respond-above(sm) {
    padding-top: get-vw(163px);
    padding-bottom: get-vw(163px);
  }

  &--wrapper {
    max-width: calcRem(320);
    margin: auto;
    display: flex;
    align-items: center;

    @include respond-above(sm) {
      max-width: get-vw(1280px);
    }
  }

  &--image {
    max-width: get-vw(594px);
    margin-right: get-vw(191px);

    img {
      max-width: 100%;
    }
  }

  &--content {
    flex: 1;
    @include BentonModDisp-RegularItalic;
    font-size: calcRem(12);
    line-height: calcRem(16);
    text-align: center;
    position: relative;

    @include respond-above(sm) {
      font-size: calcRem(19);
      line-height: calcRem(25);
    }
    @include respond-above(md) {
      font-size: calcRem(26);
      line-height: calcRem(35);
    }
    @include respond-above(lg) {
      font-size: calcRem(33);
      line-height: calcRem(44);
    }
    @include respond-above(xl) {
      font-size: calcRem(53);
      line-height: calcRem(71);
    }

    &:before, &:after {
      content: '';
      position: absolute;
      width: calcRem(22);
      height: calcRem(22);
      background-size: contain;

      @include respond-above(sm) {
        width: get-vw(86px);
        height: get-vw(86px);
      }
    }
    &:before {
      top: get-vw(-120px);
      left: get-vw(-40px);
      background-image: url("../../images/quote-left.svg");
    }

    &:after {
      bottom: get-vw(-120px);
      right: 0;
      background-image: url("../../images/quote-right.svg");
    }

    strong {
      @include BentonModDisp-BoldItalic;
    }

    a {
      @include BentonModDisp-BoldItalic;
      text-decoration: underline;
    }
  }
}

//
.list-format {
  padding-bottom: calcRem(60);

  @include respond-above(sm) {
    padding-bottom: get-vw(160px);
  }

  &--wrapper {
    width: var(--width-100);
    margin: auto;

    @include respond-above(sm) {
      max-width: get-vw(1360px);
    }
  }

  .list {
    display: flex;
    align-items: center;

    @include respond-below(sm) {
      margin-bottom: calcRem(24);
    }

    @include respond-above(sm) {
      &:not(:last-child) {
        margin-bottom: get-vw(27px);
      }
    }

    &--image {
      width: calcRem(243);
      margin: 15px auto;

      @include respond-above(sm) {
        width: get-vw(458px);
        margin: inherit;
        margin-right: get-vw(63px);
      }

      img {
        max-width: 100%;
      }
    }

    &--content {
      flex: 1;

      &__heading {
          font-size: calcRem(23);
          @include BentonModDisp-Bold;
          margin-bottom: calcRem(7);

          @include respond-above(sm) {
            font-size: get-vw(69px);
            margin-bottom: get-vw(20px);
          }
      }

      &__subheading-one {
        @include BentonModDisp-Bold;
        font-size: calcRem(14);

        @include respond-above(sm) {
          font-size: get-vw(30px);
        }
      }

      &__subheading-two {
        @include BentonModDisp-RegularItalic;
        font-size: calcRem(14);
        margin-bottom: calcRem(10);

        @include respond-above(sm) {
          font-size: get-vw(31px);
          margin-bottom: get-vw(40px);
        }
      }

      &__para {
        @include BentonModDisp-Regular;
        font-size: calcRem(14);
        line-height: calcRem(18);

        @include respond-above(sm) {
          font-size: get-vw(30px);
          line-height: get-vw(40px);
        }

        strong {
          @include BentonModDisp-Bold;
        }

        a {
          @include BentonModDisp-Bold;
          text-decoration: underline;
        }
      }
    }

    &.list-odd-order {

    }

    &.list-even-order {
      flex-direction: row-reverse;

      .list--image {
        @include respond-above(sm) {
          margin-right: inherit;
          margin-left: get-vw(63px);
        }
      }
    }
  }

  .list--image__desktop {
    display: none;

    @include respond-above(sm) {
      display: block;
    }
  }

  .list--image__mobile {
    display: block;

    @include respond-above(sm) {
      display: none;
    }
  }

  strong {
    @include BentonModDisp-Bold;
  }

  a {
    @include BentonModDisp-Bold;
    text-decoration: underline;
  }
}

//
.subhead-two {

  &--wrapper {
    margin: auto;
    @include BentonModDisp-Regular;
    text-align: center;

    @include respond-above(sm) {
      max-width: get-vw(1280px);
    }

    &__title {
      font-size: calcRem(16);
      line-height: calcRem(19);
      margin-bottom: calcRem(17);

      @include respond-above(sm) {
        font-size: get-vw(34px);
        line-height: get-vw(51px);
        margin-bottom: get-vw(53px);
      }
    }

    &__para {
      font-size: calcRem(14);
      line-height: calcRem(18);
      margin-bottom: calcRem(17);

      @include respond-above(sm) {
        font-size: get-vw(30px);
        line-height: get-vw(40px);
        margin-bottom: get-vw(65px);
      }
    }
  }

  strong {
    @include BentonModDisp-Bold;
  }

  a {
    @include BentonModDisp-Bold;
    text-decoration: underline;
  }
}

//
.list-text-format {
  margin-bottom: calcRem(44);

  @include respond-above(sm) {
    margin-bottom: get-vw(140px);
  }

  &--wrapper {
    width: var(--width-100);
    margin: auto;

    @include respond-above(sm) {
      max-width: get-vw(1492px);
    }
  }

  .list-box {

    &:not(:last-child) {
      margin-bottom: get-vw(80px);
    }

    &--number {
      position: relative;
      width: 100%;

      span {
        @include BentonModDisp-Bold;
        color: rgba(235, 222, 213, 0.45);
        // left: 50%;
        // transform: translateX(-50%);
        line-height: 1;
        font-size: calcRem(169);
        width: 100%;
        display: block;

        @include respond-above(sm) {
          font-size: get-vw(541px);
        }
      }

      h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-transform: uppercase;
      }
    }

    .list-box--number__desktop {
      display: none;

      @include respond-above(sm) {
        display: block;
      }
    }

    .list-box--number__mobile {
      display: block;

      @include respond-above(sm) {
        display: none;
      }
    }


    &--heading {
      @include BentonModDisp-BoldItalic;
      border-bottom: 1px solid var(--color-black);
      font-size: calcRem(18);
      line-height: calcRem(23);
      padding-bottom: calcRem(11.4);

      @include respond-above(sm) {
        font-size: get-vw(56px);
        line-height: get-vw(51px);
        padding-bottom: get-vw(40px);
      }

      span {
        display: inline-block;
      }
    }

    &--para {
      @include BentonModDisp-Regular;
      font-size: calcRem(14);
      line-height: calcRem(18);

      @include respond-above(sm) {
        font-size: get-vw(30px);
        line-height: get-vw(40px);
      }

      strong {
        @include BentonModDisp-Bold;
      }

      a {
        @include BentonModDisp-Bold;
        text-decoration: underline;
      }
    }

    &.list-box-one {
      display: flex;
      align-items: center;
      flex-direction: column;

      @include respond-above(sm) {
        flex-direction: row;
      }


      .list-box--number {
        text-align: center;

        @include respond-above(sm) {
          width: get-vw(475px);
          border-right: 1px solid var(--color-black);
        }
      }

      .list-box--content {
        width: 100%;
        text-align: center;

        @include respond-above(sm) {
          flex: 1;
          margin-left: get-vw(64px);
          text-align: left;
        }

        .list-box--heading {
          padding-left: get-vw(40px);
          margin-bottom: calcRem(16);

          @include respond-above(sm) {
            margin-bottom: get-vw(46px);
          }
        }

        .list-box--para {
          padding-left: get-vw(40px);
        }
      }
    }

    &.list-box-two {

      .list-box--heading {
        padding-left: get-vw(40px);
        margin-bottom: calcRem(16);
        display: flex;
        justify-content: flex-end;

        @include respond-above(sm) {
          margin-bottom: get-vw(46px);
        }

        span {
          max-width: calcRem(285);

          @include respond-above(sm) {
            max-width: get-vw(844px);
          }
        }
      }

      .list-box-even--wrapper {
        display: flex;
        align-items: center;
      }

      .list-box--number {
        text-align: center;
        width: calcRem(200);
        margin-left: auto;

        @include respond-above(sm) {
          width: get-vw(475px);
          border-left: 1px solid var(--color-black);
        }

        span {

          @include respond-above(sm) {
            line-height: get-vw(400px);
          }
        }
      }

      .list-box--content {
        flex: 1;
        margin-right: get-vw(64px);
      }
    }

    &.list-box-three {

      .list-box--heading {
        padding-left: get-vw(40px);
        margin-bottom: calcRem(16);

        @include respond-above(sm) {
          margin-bottom: get-vw(46px);
        }

        span {
          max-width: calcRem(285);

          @include respond-above(sm) {
            max-width: get-vw(844px);
          }
        }
      }

      .list-box-even--wrapper {
        display: flex;
        align-items: center;
      }

      .list-box--number {
        text-align: center;
        width: calcRem(200);

        @include respond-above(sm) {
          width: get-vw(475px);
          border-right: 1px solid var(--color-black);
          margin-left: inherit;
        }

        span {

          @include respond-above(sm) {
            line-height: get-vw(400px);
          }
        }
      }

      .list-box--content {
        flex: 1;
        margin-left: get-vw(64px);
      }
    }

    &.myth-box {
      .list-box--number {
        span {
          @include BentonModDisp-BoldItalic;
          color: var(--color-error);
          opacity: 0.14;
        }
      }
    }

    &.myth-box:nth-child(odd) {

    }

    &.myth-box:nth-child(even) {

      @include respond-above(sm) {
        flex-direction: row-reverse;

        .list-box--number {
          border-right: inherit;
          border-left: 1px solid var(--color-black);
        }

        .list-box--content {
          margin-left: inherit;
          margin-right: get-vw(64px);
        }
      }
    }

  }
  strong {
    @include BentonModDisp-Bold;
  }

  a {
    @include BentonModDisp-Bold;
    text-decoration: underline;
  }
}

//
.video-full-width {
  margin: 0 auto 28px;

  @include respond-above(sm) {
    width: get-vw(1720px);
    // margin-bottom: get-vw(146px);
    margin-bottom: get-vw(112px);
  }
  &--wrapper {
    width: 100%;
    height: calcRem(200);

    @include respond-above(sm) {
      height: get-vw(1001px);
    }
  }
  video, iframe {
    width: 100%;
    height: 100%;
  }

  .video-caption {
    width: calc(100% - 46px);
    margin: auto;
    font-size: calcRem(9);
    line-height: calcRem(13);
    @include ProximaNova-Light;
    color: var(--color-black);
    text-align: center;
    margin-top: calcRem(12);

    @include respond-above(sm) {
      width: get-vw(1286px);
      font-size: get-vw(29px);
      line-height: get-vw(38px);
      margin-top: get-vw(39px);
    }

    strong {
      @include ProximaNova-Bold;
    }

    a {
      @include ProximaNova-Bold;
      text-decoration: underline;
    }
  }
}

//
.video-image--wrapper {
  display: flex;
  margin: 0 auto 56px;
  flex-direction: column;

  @include respond-above(sm) {
    width: get-vw(1220px);
    margin-bottom: get-vw(134px);
    // margin-top: get-vw(146px);
    flex-direction: row;
    align-items: center;
  }

  &__left {
    width: 100%;
    margin-bottom: calcRem(47);

    @include respond-above(sm) {
      width: get-vw(512px);
      // border-right: 1px solid var(--color-black);
      padding-right: get-vw(96px);
      margin-bottom: 0;
      position: relative;

      &::after {
        content:'';
        position: absolute;
        height: get-vw(366px);
        width: 1px;
        background: var(--color-black);
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .video-caption {
      font-size: calcRem(14);
      line-height: calcRem(16);
      @include ProximaNova-Light;
      color: var(--color-black);
      text-align: center;
      margin-top: calcRem(19);

      @include respond-above(sm) {
        font-size: get-vw(22px);
        line-height: get-vw(29px);
        margin-top: get-vw(36px);
      }

      strong {
        @include ProximaNova-Bold;
      }

      a {
        @include ProximaNova-Bold;
        text-decoration: underline;
      }
    }
    video, iframe{
      width: 100%;
    }
  }

  &__right {
    width: 100%;

    @include respond-above(sm) {
      width: get-vw(512px);
      margin-left: get-vw(96px);
    }

    figcaption {
      font-size: calcRem(13);
      line-height: calcRem(16);
      @include ProximaNova-Sbold;
      margin-top: calcRem(10);

      @include respond-above(sm) {
        font-size: get-vw(25px);
        line-height: get-vw(38px);
        margin-top: get-vw(18px);
      }
    }
  }

  img {
    max-width: 100%;
  }
}

//
.full-width--image {
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: calcRem(59);

  @include respond-above(sm) {
    max-width: get-vw(1218px);
    margin-bottom: get-vw(140px);
  }

  img {
    max-width: 100%;
  }

  figcaption {
    font-size: calcRem(14);
    line-height: calcRem(16);
    @include ProximaNova-Light;
    color: var(--color-gray);
    text-align: center;
    margin-top: calcRem(19);

    @include respond-above(sm) {
      font-size: get-vw(22px);
      line-height: get-vw(29px);
      margin-top: get-vw(36px);
    }

    strong {
      @include ProximaNova-Bold;
    }

    a {
      @include ProximaNova-Bold;
      text-decoration: underline;
    }
  }
}

.full-width--chart {
  max-width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: calcRem(18);

  @include respond-above(sm) {
    max-width: get-vw(1218px);
    margin-bottom: get-vw(56px);
  }

  img {
    max-width: 100%;
  }
}


.wacoal-seperator {
  margin-bottom: calcRem(28);

  @include respond-above(sm) {
    margin-bottom: get-vw(112px);
  }
  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    &__seperator {
      width: get-vw(660px);
      height: 1px;
      background: var(--color-black);
    }
  }
}


.fixes-list {

  @include respond-above(sm) {
    margin-top: 6px;
    padding-bottom: get-vw(200px);
  }

  &--wrapper {
    margin: auto;

    @include respond-above(sm) {
      width: get-vw(1252px);

    }
  }

  &--box {
    @include respond-above(sm) {
      &:not(:last-child) {
        margin-bottom: get-vw(80px);
      }
    }

    &.odd {

      .fixes-list--boxtitle {
        // justify-content: flex-end;
        float: right;

        &:before {
          left: inherit;
          right: 0;
        }
      }

      .verticle-text {

        @include respond-above(sm) {
          right: get-vw(40px);
          left: inherit;
          transform: rotate(90deg) translateX(53%);
          transform-origin: right center;
        }
      }

      .list-content {

        @include respond-above(sm) {
          margin-left: get-vw(198px);
        }
      }
    }
  }

  &--boxtitle {
    @include BentonModDisp-Bold;
    position: relative;
    width: 100%;
    text-transform: uppercase;

    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.14px;
    padding-top: 10px;

    @include respond-above(sm) {
      font-size: get-vw(53px);
      line-height: get-vw(63px);
      margin-bottom: get-vw(100px);
      padding-top: get-vw(22px);
      letter-spacing: 0.27px;
      width: get-vw(635px);
      text-align: center;
    }

    &:before {
      content: '';
      position: absolute;
      background: #EBDED5;
      top: 0;
      left: 0;
      z-index: -1;

      @include respond-below(sm) {
        width: 100%;
        height: 25px;
      }

      @include respond-above(sm) {
        width: get-vw(635px);
        height: get-vw(45px);
      }
    }
  }

  &--boxcontent {
    background: var(--color-feat-article-bg);
    display: flex;
    position: relative;
    width: 100%;

    @include respond-below(sm) {
      flex-direction: column;
    }

    @include respond-above(sm) {
      height: get-vw(356px);
      align-items: center;
    }

    .verticle-text {
      @include ProximaNova-Sbold;

      @include respond-above(sm) {
        left: get-vw(40px);
        font-size: get-vw(18px);
        letter-spacing: 0.33px;
        transform-origin: 0 0;
        transform: rotate(270deg) translateX(-60%);
        position: absolute;
        bottom: 50%;
      }
    }

    .list-image {
      @include respond-below(sm) {
        padding: 0 51px;
        display: flex;
        position: relative;

        &::after {
          content: '';
          height: 50%;
          bottom: 0;
          width: 100%;
          background: var(--color-feat-article-bg);
          position: absolute;
          left: 0;
          z-index: -1;
        }
      }

      @include respond-above(sm) {
        height: get-vw(503px);
        width: get-vw(398px);
        // margin-top: get-vw(-74px);
        margin-left: get-vw(100px);
        box-shadow: -1px -1px 36px #00000029;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .list-content {

      @include respond-above(sm) {
        margin-left: get-vw(100px);
        width: get-vw(460px);
        font-size: get-vw(21px);
        line-height: get-vw(34px);
      }

      .btn {
        background-color: var(--color-black);
        color: var(--color-white);
        @include ProximaNova-Bold;

        @include respond-above(sm) {
          margin-top: get-vw(34px);
          font-size: get-vw(29px);
          letter-spacing: 0.14px;
        }
      }

    }
  }
  &.desktop-ui {
    display: none;

    @include respond-above(sm) {
      display: block;
    }
  }
  &.mobile-ui {
    display: flex;
    margin-bottom: 94px;
    margin-left: -36px;
    margin-right: -36px;

    @include respond-above(sm) {
      display: none;
    }
    .fixes-list--box {

      &:not(:first-child) {
        margin-top: 60px;
      }
    }

    .fixes-list--boxcontent {
      background: transparent;
    }

    .fixes-list--boxtitle {
      width: calc(100% - 72px);
      margin: 0 auto 14px;
      text-align: center;
    }

    .verticle-text {
      padding: 14px 51px 23px;
      text-align: center;
      background: var(--color-feat-article-bg);
      position: relative;

      &:after {
        content:'';
        height: 1px;
        background: var(--color-black);
        width: calc(100% - 110px);
        left: 51px;
        position: absolute;
        bottom: 0;
      }
    }

    .list-content {
      padding: 20px 51px 50px;
      background: var(--color-feat-article-bg);
      position: relative;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.49px;

      .btn {
        position: absolute;
        padding: 12px 24px;
        font-size: 12px;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}


.reminder-note {

  &--wrapper {
    background: #FDF0F7;
    display: flex;
    margin: auto;
    align-items: center;

    @include respond-below(sm) {
      margin: 33px 36px 0;
      padding: 68px 40px;
    }

    @include respond-above(sm) {
      width: get-vw(825px);
      min-height: get-vw(140px);
      padding-top: get-vw(24px);
      padding-bottom: get-vw(24px);
      padding-left: get-vw(40px);
      padding-right: get-vw(40px);
    }

    .image {

      @include respond-below(sm) {
        position: absolute;
        width: 150px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.2;
      }

      @include respond-above(sm) {
        width: get-vw(80px);
        margin-right: get-vw(16px);
      }

      img {
        width: 100%;
      }
    }

    .content {

      @include respond-above(sm) {
        font-size: get-vw(21px);
        line-height: get-vw(32px);
        letter-spacing: 0.53px;
      }

      span {
        @include ProximaNova-Bold;
      }

      strong {
        @include ProximaNova-Bold;
      }

      a {
        @include ProximaNova-Bold;
        text-decoration: underline;
      }
    }

    .content-small {
      text-align: center;
      width: 100%;
      @include respond-above(sm) {
        font-size: get-vw(16px);
        line-height: get-vw(26px);
        letter-spacing: 0.4px;
      }

      span, strong {
        @include ProximaNova-Bold;
      }

      a {
        @include ProximaNova-Bold;
        text-decoration: underline;
      }
    }
  }

  &--center {
    margin-bottom: 48px;

    @include respond-above(sm) {
      margin-top: get-vw(114px);
      margin-bottom: get-vw(90px);
    }
  }
}


.donation {

  &--wrapper {
    margin: auto;
    display: flex;

    @include respond-below(sm) {
      padding: 0 28px;
      flex-direction: column;
    }

    @include respond-above(sm) {
      width: get-vw(1120px);
    }

    .title {
      @include BentonModDisp-Regular;
      text-transform: uppercase;
      font-size: 32px;
      letter-spacing: 0.48px;
      line-height: 1;
      margin-bottom: 14px;

      @include respond-above(sm) {
        font-size: get-vw(47px);
        letter-spacing: get-vw(0.7px);
        margin-bottom: get-vw(28px);
      }
    }

    .para {
      @include BentonModDisp-Regular;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.24px;

      @include respond-above(sm) {
        font-size: get-vw(20px);
        line-height: get-vw(32px);
        letter-spacing: get-vw(0.5px);
        margin-bottom: get-vw(80px);
        width: get-vw(577px);
      }

      a {
        @include BentonModDisp-Bold;
        text-decoration: underline;
      }

      strong {
        @include BentonModDisp-Bold;
      }
    }

    .timeline {
      padding: 0;
      position: relative;

      @include respond-below(sm) {
        margin: 40px 0 48px;
      }

      @include respond-above(sm) {
        width: get-vw(435px);
        margin-bottom: get-vw(80px);
      }
    }
    .timeline-item {
      list-style: none;
      border-left: 0.5px solid #8D8D8D;
    }
    .timeline-item:last-child {
      border-left-color: transparent;

      .timeline-text {
        padding-bottom: 0;
      }
    }
    .timeline-title {
      margin: 0;
      padding: 0;
    }
    .timeline-text:before {
      color: white;
      position: absolute;
      left: -3px;
      display: inline-block;
      width: 8px;
      height: 8px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      background-color: #E390B7;
      // counter-increment: list;
      content: ' ';
    }
    .timeline-text {
      margin: 0;
      padding: 0 0 48px 28px;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0.4px;

      @include respond-above(sm) {
        // padding: 0 40px 40px;
        font-size: get-vw(16px);
        padding-left: get-vw(40px);
        padding-bottom: get-vw(40px);
        padding-right: get-vw(40px);
        line-height: get-vw(26px);
        letter-spacing: get-vw(0.4px);
      }

      &.first-para {
        padding-top: 0;
      }

      a, strong {
        @include ProximaNova-Bold;
        text-decoration: underline;
      }
    }
  }

  &--wrapper-left {

    @include respond-above(sm) {
      width: get-vw(680px);
    }
  }

  &--wrapper-right {

    @include respond-below(sm) {
      margin-top: 48px;
    }

    @include respond-above(sm) {
      width: get-vw(360px);
      margin-left: get-vw(86px);
    }

    .quote {
      @include BentonModDisp-RegularItalic;
      position: relative;
      text-align: center;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 38px;

      @include respond-above(sm) {
        font-size: get-vw(18px);
        line-height: get-vw(27px);
        letter-spacing: get-vw(0.72px);
        width: get-vw(300px);

        &:not(:last-child) {
          margin-bottom: get-vw(76px);
        }
      }

      &:before, &:after {
        content: '';
        display: flex;
        background-size: contain;
        width: 100%;
        background-repeat: no-repeat;

        @include respond-below(sm) {
          background-size: 44px;
          height: 44px;
        }

        @include respond-above(sm) {
          background-size: get-vw(55px);
          height: get-vw(70px);
        }
      }
      &:before {
        background-image: url("../../images/quote-icon-left.svg");
        background-position: left center;

        @include respond-below(sm) {
          margin-bottom: 20px;
        }

        @include respond-above(sm) {
          margin-bottom: get-vw(20px);
        }
      }

      &:after {
        background-image: url("../../images/quote-icon-right.svg");
        background-position: right center;

        @include respond-below(sm) {
          margin-top: 20px;
        }

        @include respond-above(sm) {
          margin-top: get-vw(20px);
        }
      }

      span {
        font-size: 13px;
      }
    }
  }
}


.article--para {
  @include BentonModDisp-Regular;
  font-size: 14px;
  line-height: 22px;

  @include respond-below(sm) {
    padding: 0 20px;
    margin-bottom: 30px;
    letter-spacing: 0.49px;
  }

  @include respond-above(sm) {
    margin: 0 auto;
    margin-bottom: get-vw(65px);
    max-width: get-vw(903px);
    font-size: get-vw(30px);
    line-height: get-vw(48px);
    letter-spacing: 0.6px;
  }

  ul {
    margin: 0 auto;
    @include BentonModDisp-Regular;

    @include respond-above(sm) {
      width: get-vw(878px);
    }

    li {

      &:before {
        content:'';
        background: url('../../images/checkmark.svg');
        width: 12px;
        height: 12px;
        background-size: cover;
        margin-right: 4px;
        display: inline-block;

        @include respond-above(sm) {
          width: get-vw(20px);
          height: get-vw(20px);
          margin-right: get-vw(10px);
        }
      }

      @include respond-above(sm) {
        margin-bottom: get-vw(20px);
        font-size: get-vw(30px);
        line-height: get-vw(40px);
      }
    }

  }
}
