.article-details-banner {
  width: var(--width-100);
  background-image: url("../../images/landing-banner-mobile.png");
  background-size: cover;
  height: calcRem(442);

  @include respond-above(sm) {
    height: get-vw(804px);
    background-image: url("../../images/article-banner.png");
  }
}
