.article-details-banner {
  background-size: cover;
  background-position: center;
  margin: auto;
  max-width: 886px;
  height: 372px;

  @include respond-below(lg) {
    width: 667px;
    height: 280px;
  }

  @include respond-below(sm) {
    width: 100%;
    height: 157px;
  }
  // @include respond-above(sm) {
  //   height: get-vw(492px);
  //   width: get-vw(1170px);
  // }
}
