.article-details-banner {
  width: var(--width-100);
  background-image: url("../../images/article-banner.png");
  background-size: cover;
  height: calcRem(229);
  background-position: center;

  @include respond-above(sm) {
    height: get-vw(804px);
  }
}
