.banner-with-image {
  width: var(--width-100);
  background-image: url("../../images/landing-banner-mobile.png");
  background-size: cover;
  height: calcRem(442);
  padding: calcRem(38, 0, 0, 11);
  margin-bottom: calcRem(20);
  flex-direction: column;

  @include respond-above(sm) {
    height: get-vw(482px);
    background-image: url("../../images/landing-banner.png");
    padding-top: get-vw(32px);
    padding-left: get-vw(63px);
    margin-bottom: get-vw(44px);
  }

  &--heading {
    max-width: calcRem(251);
    text-transform: uppercase;
    font-size: calcRem(73);
    line-height: calcRem(70);
    @include BentonModDisp-Regular;

    @include respond-above(sm) {
      max-width: get-vw(870px);
      font-size: get-vw(180px);
      line-height: get-vw(174px);
    }
  }

  &--subtitle {
    font-size: calcRem(18);
    @include ProximaNova-Light;

    @include respond-above(sm) {
      font-size: calcRem(11);
    }

    @include respond-above(md) {
      font-size: calcRem(15);
    }

    @include respond-above(lg) {
      font-size: calcRem(22);
    }

    @include respond-above(xl) {
      font-size: calcRem(25);
    }
  }

  &.desktop-banner {
      display: none;

      @include respond-above(sm) {
        display: flex;
      }
  }

  &.mobile-banner {
    display: flex;

    @include respond-above(sm) {
      display: none;
    }
  }
}
