.banner-with-image {
  background-color: #fce2ff;
  background-size: cover;
  flex-direction: column;
  max-width: 1920px;
  margin: 0 auto 25px;
  height: 486px;
  padding: 51px 0 0 66px;

  @include respond-below(xl) {
    height: 363px;
    padding: 28px 0 0 49px;
  }

  @include respond-below(lg) {
    height: 260px;
    padding: 19px 0 0 34px;
    margin: 0 auto 17px;
  }

  @include respond-below(md) {
    height: 194px;
    padding: 14px 0 0 26px;
    margin: 0 auto 15px;
  }

  @include respond-below(sm) {
    background-image: url("../../images/landing-banner-mobile.png");
    height: 295px;
    padding: 38px 0 0 11px;
  }

  &--heading {
    text-transform: uppercase;
    @include BentonModDisp-Regular;
    font-size: 180px;
    line-height: 174px;
    max-width: 810px;

    @include respond-below(xl) {
      font-size: 137px;
      line-height: 132px;
      max-width: 630px;
    }

    @include respond-below(lg) {
      font-size: 99px;
      line-height: 95px;
      max-width: 450px;
    }

    @include respond-below(md) {
      font-size: 72px;
      line-height: 69px;
      max-width: 330px;
    }

    @include respond-below(sm) {
      font-size: 73px;
      line-height: 70px;
      max-width: 252px;
    }
  }

  &--subtitle {
    @include ProximaNova-Light;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.63px;
    max-width: 810px;

    @include respond-below(xl) {
      font-size: 19px;
      line-height: 19px;
      letter-spacing: 0.47px;
      max-width: 630px;
    }

    @include respond-below(lg) {
      max-width: 450px;
    }

    @include respond-below(md) {
      max-width: 330px;
    }

    @include respond-below(sm) {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.45px;
      max-width: 252px;
    }
  }

  &.desktop-banner {
    // display: none;
    visibility: hidden;

    @include respond-above(sm) {
      display: flex;
    }
  }

  &.mobile-banner {
    display: flex;

    @include respond-above(sm) {
      // display: none;
      visibility: none;
    }
  }
}
