.featured-article-block {

  &--wrapper {
    margin: 0 auto 100px;
    max-width: 1134px;

    @include respond-below(lg) {
      max-width: 932px;
      margin: 0 auto 120px;
    }

    @include respond-below(md) {
      max-width: 700px;
      margin: 0 auto 70px;
    }
  }

  .featured-box {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;

    @include respond-above(sm) {
      flex-direction: row;
    }

    &:not(:last-child) {
      margin-bottom: 80px;

      @include respond-below(lg) {
        margin-bottom: 100px;
      }

      @include respond-below(md) {
        margin-bottom: 50px;
      }
    }

    &--content {
      background: var(--color-feat-article-bg);
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include respond-below(sm) {
        padding: 25px 32px;
      }

      &__subtitle {
        display: block;
        @include ProximaNova-Light;
        text-align: center;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.14px;
        margin-bottom: 20px;

        @include respond-below(lg) {
          font-size: 14px;
          line-height: 15px;
        }

        @include respond-below(md) {
          font-size: 12px;
          margin-bottom: 15px;
        }

        @include respond-below(sm) {
          font-size: 13px;
          margin-bottom: 20px;
        }
      }

      &__title {
        text-align: center;
        @include BentonModDisp-Regular;
        font-size: 36px;
        line-height: 38px;
        max-width: 490px;
        margin-bottom: 10px;

        @include respond-below(lg) {
          max-width: 380px;
          font-size: 28px;
          line-height: 29px;
        }

        @include respond-below(md) {
          max-width: 320px;
          font-size: 23px;
          line-height: 24px;
        }
      }

      &__para {
        text-transform: uppercase;
        @include ProximaNova-Light;
        text-align: center;
        max-width: 362px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 1.36px;

        @include respond-below(lg) {
          max-width: 278px;
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 1.04px;
        }

        @include respond-below(md) {
          max-width: 260px;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.96px;
        }

        @include respond-below(sm) {
          max-width: 280px;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 1.04px;
        }

        strong {
          @include ProximaNova-Bold;
        }

        a {
          @include ProximaNova-Light;
        }
      }

      .btn {
        margin-top: 40px;

        @include respond-below(lg) {
          margin-top: 30px;
        }

        @include respond-below(md) {
          margin-top: 20px;
        }

        @include respond-below(sm) {
          margin-top: 25px;
        }
      }
    }

    &--image {
      width: var(--width-100);
      display: flex;
      height: 465px;
      width: 510px;

      @include respond-below(lg) {
        width: 419px;
        height: 383px;
      }

      @include respond-below(md) {
        width: 315px;
        height: 288px;
      }

      @include respond-below(sm) {
        width: 100%;
        height: 343px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &:nth-child(even) {

      @include respond-above(sm) {
        flex-direction: row-reverse;
      }
    }
  }
}


// .page-wrapper {

//   &--content {
//     width: calc(100% - 36px);
//     margin: auto;

//     @include respond-above(sm) {
//       width: get-vw(1720px);
//     }
//   }
// }
