.footer-section {
  // background: var(--color-black);
  background: #252525;
  width: var(--width-100);
  padding-top: 30px;
  padding-bottom: 22px;

  @include respond-above(sm) {
    padding: 45px 0;
  }

  @include respond-above(md) {
    padding: 60px 0 46px;
  }

  @include respond-above(lg) {
    padding: 66px 0 53px;
  }
}

.footer-wrapper {
  width: calc(var(--width-100) - 70px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-above(sm) {
    max-width: 600px;
    flex-direction: column;
  }

  @include respond-above(md) {
    max-width: 928px;
    flex-direction: row;
  }

  @include respond-above(lg) {
    max-width: 1076px;
  }

  &--left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: calcRem(272);

    @include respond-above(sm) {
      flex-direction: row;
      max-width: initial;
    }

    @include respond-between(sm, md) {
      width: 100%;
    }
  }

  &--right {
    flex: 1;

    @include respond-between(xs, md) {
      width: 100%;
      // max-width: 280px;
      margin-top: 40px;
      text-align: center;
    }

    @include respond-above(md) {
      max-width: 284px;
      margin-left: 30px;
    }
    @include respond-above(lg) {
      margin-left: 30px;
      max-width: 350px;
    }

    @include respond-below(sm) {
      margin-top: 25px;
      text-align: center;
    }

    .footer-links--title {
      @include ProximaNova-Reg;
      text-transform: uppercase;
      margin-bottom: 18px;
      font-weight: 500;
      background: none;
    }

    .footer-subscribe {
      display: block !important;

      &--note {
        color: var(--color-white);
        font-size: 13px;
        letter-spacing: 0.25px;
        line-height: 20px;
        margin-bottom: 12px;
      }

      &--input {
        display: flex;
        margin-bottom: 40px;

        input {
          appearance: none;

          &:focus, &:hover {
            outline: none;
          }
        }

        .input-box {
          width: calc(100% - 90px);
          border: 0px;
          height: 48px;
          font-size: 13px;
          letter-spacing: 0.25px;
          padding: 0px 15px;
          box-sizing: border-box;
        }

        .input-button {
          width: 90px;
          border: 0px;
          height: 48px;
          font-size: 13px;
          letter-spacing: 0.25px;
          padding: 0px 15px;
          box-sizing: border-box;
          background: #b1a491;
          color: #000000;
          cursor: pointer;
        }
      }
    }
  }

  &--copyright {
    width: var(--width-100);
    color: var(--color-white);
    @include ProximaNova-Reg;
    font-size: 12px;
    letter-spacing: 0.6px;

    @include respond-between(xs, md) {
      text-align: center;
      margin-bottom: 30px;
    }
    @include respond-above(md) {
      font-size: 10px;
      // margin-top: 46px;
    }

    @include respond-above(lg) {
      font-size: 11px;
      // margin-top: 52px;
    }

    @include respond-below(sm) {
      margin-bottom: 20px;
      text-align: center;
    }

    strong {
      @include ProximaNova-Bold;
    }

    a {
      // @include ProximaNova-Bold;
      text-decoration: underline;
    }
  }

  &--bottom {
    border-top: 1px solid #606060;
    padding: 35px 3% 0;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-below(sm){
      padding: 15px 3% 0;
      margin-top: 15px;
    }
  }
}

.footer-links {
  &--title {
    @include BentonModDisp-Bold;
    font-size: 13px;
    color: var(--color-white);
    margin-bottom: 20px;
    letter-spacing: 0.6px;

    @include respond-below(sm) {
      background: url("../../images/footer-arrow.svg") no-repeat;
      background-position: 100% 50%;
      background-size: 6px;
    }

    @include respond-above(lg) {
      font-size: 15px;
      margin-bottom: 28px;
    }
  }

  &--ul {
    &__list {
      // text-transform: uppercase;
      letter-spacing: calcRem(1);
      display: flex;

      &:not(:last-child) {
        margin-bottom: 16.5px;

        @include respond-above(lg) {
          margin-bottom: 19px;
        }
      }
    }

    &__link {
      color: var(--color-white);
      @include ProximaNova-Sbold;
      font-size: 10px;
      letter-spacing: 0.6px;

      @include respond-above(lg) {
        font-size: 11px;
      }
    }
  }
}

.footer-links--title + div {
  display: none;

  @include respond-above(sm) {
    display: block;
  }
}
.footer-links.open .footer-links--title {
  background: url("../../images/down-arrow.svg") no-repeat;
  background-position: 100% 50%;
  background-size: 11px;
}
.footer-links.open .footer-links--title + div {
  display: block;
  margin-bottom: 40px;
}

.footer-images {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 380px;

  @include respond-between(sm, md) {
    margin: auto;
  }

  &--title {
    color: var(--color-white);
    text-align: left;
    font-weight: 500;

    @include respond-below(sm) {
      text-align: center;
    }
  }
}

.footer-social {
  display: flex;
  // margin-top: 15px;

  // @include respond-above(lg) {
  //   margin-top: 34px;
  // }

  // @include respond-above(sm) {
  //   margin-top: get-vw(84px);
  // }

  &--icon {
    width: calcRem(16);
    height: calcRem(16);
    display: flex;
    align-items: center;

    @include respond-above(md) {
      width: calcRem(18);
      height: calcRem(18);
    }

    @include respond-above(lg) {
      width: calcRem(27);
      height: calcRem(27);
    }

    &:not(:first-child) {
      margin-left: calcRem(13);

      @include respond-above(sm) {
        margin-left: calcRem(12);
      }

      @include respond-above(md) {
        margin-left: calcRem(16);
      }

      @include respond-above(lg) {
        margin-left: calcRem(18);
      }

      @include respond-above(xl) {
        margin-left: calcRem(29);
      }
    }

    img {
      max-width: 100%;
    }
  }
}
