.footer-section {
  background: var(--color-black);
  width: var(--width-100);
  padding-top: 30px;
  padding-bottom: 22px;

  @include respond-above(sm) {
    padding: 45px 0;
  }

  @include respond-above(md) {
    padding: 64px 0 50px;
  }
}

.footer-wrapper {
  width: calc(var(--width-100) - 70px);
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include respond-above(sm) {
    width: 600px;
    flex-direction: column;
  }

  @include respond-above(md) {
    width: 928px;
    flex-direction: row;
  }

  @include respond-above(lg) {
    width: 1220px;
  }

  &--left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: calcRem(272);

    @include respond-above(sm) {
      flex-direction: row;
      max-width: initial;
    }

    @include respond-between(sm, md) {
      width: 100%;
    }
  }

  &--right {
    flex: 1;

    @include respond-between(sm, md) {
      width: 100%;
      max-width: 280px;
      margin-top: 26px;
    }

    @include respond-above(md) {
      max-width: 284px;
      margin-left: 50px;
    }
    @include respond-above(lg) {
      margin-left: 96px;
      max-width: 380px;
    }
  }

  &--copyright {
    width: var(--width-100);
    color: var(--color-white);
    @include ProximaNova-Reg;
    font-size: calcRem(8);
    margin-top: calcRem(22);

    @include respond-above(sm) {
      font-size: calcRem(7);
      margin-top: get-vw(70px);
    }

    @include respond-above(md) {
      font-size: get-vw(14px);
    }

    strong {
      @include ProximaNova-Bold;
    }

    a {
      @include ProximaNova-Bold;
      text-decoration: underline;
    }
  }
}

.footer-links {
  &--title {
    @include BentonModDisp-Bold;
    font-size: 13px;
    color: var(--color-white);
    margin-bottom: 20px;

    @include respond-below(sm) {
      background: url("../../images/footer-arrow.svg") no-repeat;
      background-position: 100% 50%;
      background-size: 6px;
    }

    @include respond-above(lg) {
      font-size: 15px;
      margin-bottom: 28px;
    }
  }

  &--ul {
    &__list {
      text-transform: uppercase;
      letter-spacing: calcRem(1);
      display: flex;

      &:not(:last-child) {
        margin-bottom: 16.5px;

        @include respond-above(lg) {
          margin-bottom: 19px;
        }
      }
    }

    &__link {
      color: var(--color-white);
      @include ProximaNova-Sbold;
      font-size: 10px;

      @include respond-above(lg) {
        font-size: 11px;
      }
    }
  }
}

.footer-links--title + div {
  display: none;

  @include respond-above(sm) {
    display: block;
  }
}
.footer-links.open .footer-links--title {
  background: url("../../images/down-arrow.svg") no-repeat;
  background-position: 100% 50%;
  background-size: 11px;
}
.footer-links.open .footer-links--title + div {
  display: block;
  margin-bottom: 40px;
}

.footer-images {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  margin-top: 15px;

  // @include respond-above(sm) {
  //   margin-top: get-vw(84px);
  // }

  &--icon {
    width: calcRem(16);
    height: calcRem(16);
    display: flex;
    align-items: center;

    @include respond-above(md) {
      width: calcRem(18);
      height: calcRem(18);
    }

    @include respond-above(lg) {
      width: calcRem(27);
      height: calcRem(27);
    }

    &:not(:first-child) {
      margin-left: calcRem(13);

      @include respond-above(sm) {
        margin-left: calcRem(12);
      }

      @include respond-above(md) {
        margin-left: calcRem(16);
      }

      @include respond-above(lg) {
        margin-left: calcRem(18);
      }

      @include respond-above(xl) {
        margin-left: calcRem(29);
      }
    }

    img {
      max-width: 100%;
    }
  }
}
