.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calcRem(72);

  @include respond-above(sm) {
    height: get-vw(306px);
  }

  &--logo {
    max-width: calcRem(152);
    width: 100%;

    @include respond-above(sm) {
      max-width: get-vw(456px);
    }
  }
}


.header-navigation {
  background: var(--color-nav-bg);
  width: var(--width-100);

  &--ul{
    display: flex;
    justify-content: center;
    padding: calcRem(9, 0);

    @include respond-above(md) {
      padding: calcRem(14, 0);
    }

    // @include respond-above(lg) {
    //   padding: calcRem(20, 0);
    // }

    // @include respond-above(xl) {
    //   padding: calcRem(32, 0);
    // }
  }

  &--list {
    margin: calcRem(0, 23);

    @include respond-above(md) {
      margin: calcRem(0, 27);
    }

    @include respond-above(xl) {
      margin: calcRem(0, 45);
    }
  }

  &--link {
    color: var(--color-black);
    @include ProximaNova-Sbold;
    font-size: calcRem(12);

    @include respond-above(md) {
      font-size: calcRem(14);
    }
  }
}

.shop-wacoal-btn {
  position: absolute;
  right: 0;
  @include ProximaNova-Light;
  color: var(--color-white);
  text-transform: uppercase;
  background: var(--color-black);
  font-size: calcRem(11);
  padding: 11px 17px;

  @include respond-above(sm) {
    padding-left: get-vw(101px);
    padding-right: get-vw(101px);
    padding-top: get-vw(23px);
    padding-bottom: get-vw(23px);
    font-size: get-vw(32px);
  }

  &.shop-wacoal-btn-desktop {
    display: none;

    @include respond-above(sm) {
      display: block;
    }
  }

  &.shop-wacoal-btn-mobile {
    display: block;

    @include respond-above(sm) {
      display: none;
    }
  }
}


.header-navigation-mobile {
  background: var(--color-nav-bg);
  width: var(--width-100);
  height: calcRem(60);
  display: flex;
  align-items: center;
  padding-left: calcRem(26);
  font-size: calcRem(15);

  @include respond-above(sm) {
    display: none;
    visibility: hidden;
  }

  // img {
  //   margin-left: calcRem(10);
  // }
}

.header-navigation-mobile + .header-navigation--ul {

  @include respond-below(sm) {
    flex-direction: column;
    padding: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.2s ease;
  }
}
.header-navigation-mobile.mobile-nav-open + .header-navigation--ul{
  height: calcRem(90);
  visibility: visible;
  overflow: visible;
  padding-bottom: calcRem(20);
}

.header-navigation-mobile {

  .open-state {
    display: block;
  }

  .close-state {
    display: none;
  }

  &.mobile-nav-open {
    .open-state {
      display: none;
    }

    .close-state {
      display: block;
    }
  }
}
