.link-button {

  &--wrapper {
    max-width: 100%;
    padding: 25px 0;
    display: flex;
    justify-content: center;

    @include respond-below(lg){
      padding: 50px 0;
      max-width: 966px;
    }
  }
}
