.list-text-image {
  &.desktop {
    display: block;

    @include respond-below(sm) {
      display: none;
    }
  }

  &.mobile {
    display: none;

    @include respond-below(sm) {
      display: block;
    }
  }

  &--wrapper {
    max-width: 1092px;
    margin: 0 auto;
    padding: 80px 0;

    @include respond-below(lg){
      padding: 50px 0;
      max-width: 892px;
    }

    @include respond-below(md){
      padding: 25px 0;
      max-width: 708px;
    }

    &:nth-child(even) {

      .list-text-image--inner {
        flex-direction: row-reverse;

        @include respond-below(sm) {
          flex-direction: column;
        }
      }

      .list-text-image--content {
        margin-left: inherit;
        margin-right: 60px;

        @include respond-below(lg){
          margin-left: inherit;
          margin-right: 46px;
        }

        @include respond-below(md){
          margin-left: inherit;
          margin-right: 40px;
        }

        @include respond-below(sm){
          margin: 17px 0 0;
        }
      }

      .image-name {
        margin-left: auto;
        text-align: right;

        @include respond-below(sm){
          text-align: left;
        }
      }
    }

  }

  &--inner {
    display: flex;
    align-items: center;

    @include respond-below(sm) {
      flex-direction: column;
    }
  }

  &--img {
    width: 587px;
    height: 587px;
    background-size: cover;

    @include respond-below(lg){
      width: 439px;
      height: 439px;
    }

    @include respond-below(md){
      width: 348px;
      height: 348px;
    }

    @include respond-below(sm) {
      width: 334px;
      height: 334px;
      margin-top: 15px;
    }
  }

  &--content {
    flex: 1;
    margin-left: 60px;

    @include respond-below(lg){
      margin-left: 46px;
    }

    @include respond-below(md){
      margin-left: 40px;
    }

    @include respond-below(sm){
      margin-left: 0;
      width: 100%;
      padding: 0 36px;
      margin-top: 17px;
    }

    .title {
      @include ProximaNova-Bold;
      font-size: 50px;
      line-height: 52px;

      @include respond-below(md){
        font-size: 42px;
        line-height: 43px;
      }
    }

    .sub-title {
      @include ProximaNova-Bold;
      font-size: 18px;
      line-height: 26px;


      @include respond-below(lg){
        font-size: 25px;
        line-height: 35px;
      }

      @include respond-below(md){
        font-size: 21px;
        line-height: 29px;
      }

      @include respond-below(sm){

      }
    }

    .content {
      @include ProximaNova-Reg;
      font-size: 18px;
      line-height: 26px;
      margin-top: 25px;

      @include respond-below(lg){
        font-size: 16px;
        line-height: 23px;
      }

      @include respond-below(sm){
        line-height: 25px;
        margin-top: 15px;
      }

      strong {
        @include ProximaNova-Bold;
      }

      a {
        text-decoration: underline;
        @include ProximaNova-Bold;
      }
    }

    .content-btn {
      margin-top: 45px;

      @include respond-below(md) {
        margin-top: 25px;
      }
    }
  }

  .image-name {
    max-width: 587px;
    margin: 11px 0;
    color: var(--color-gray);
    @include ProximaNova-Reg;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.77px;

    @include respond-below(md) {
      margin: 8px 0;
    }

    @include respond-below(sm) {
      max-width: 334px;
      width: 100%;
      margin: 8px auto;
    }
  }
}
