.more-blog {
  position: relative;
  padding: 80px 0;
  margin-top: -80px;

  @include respond-below(lg) {
    padding: 50px 0 60px;
    margin-top: -50px;
  }

  @include respond-below(md) {
    padding: 25px 0 60px;
    margin-top: -25px;
  }

  @include respond-below(sm) {
    padding: 25px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--color-nav-bg);
    width: 100%;
    height: 296px;
    z-index: -1;
    top: 190px;

    @include respond-below(xl) {
      height: 247px;
      // top: 160px;
    }

    @include respond-below(lg) {
      height: 199px;
      top: 135px;
    }

    @include respond-below(md) {
      height: 174px;
      top: 90px;
    }

    @include respond-below(sm) {
      display: none;
    }
  }


  &.more-blog-multirow {
    &::before {
      top: 0;
    }
  }

  &--wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: auto;
    display: flex;
    max-width: 1328px;
    padding-top: 37px;

    @include respond-below(xl) {
      max-width: 1034px;
    }

    @include respond-below(lg) {
      max-width: 808px;
    }

    @include respond-below(md) {
      max-width: 628px;
    }

    @include respond-below(sm) {
      max-width: 100%;
      flex-direction: column;
      padding-top: 22px;
    }
  }

  &--title {
    position: relative;
    z-index: 1;
    color: var(--color-gray);
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: 60px;
    @include ProximaNova-Light;
    font-size: 42px;
    letter-spacing: 2px;
    max-width: 516px;

    @include respond-below(lg) {
      font-size: 36px;
      line-height: 44px;
      max-width: 442px;
      margin-bottom: 40px;
    }

    @include respond-below(md) {
      font-size: 32px;
      line-height: 44px;
      max-width: 442px;
      letter-spacing: 1px;
      margin-bottom: 20px;
    }

    @include respond-below(sm) {
      font-size: 20px;
      line-height: 21px;
      max-width: 246px;
      letter-spacing: 1px;
      margin-bottom: 13px;
    }


    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 103px;
      height: 1px;
      background: var(--color-gray);
      top: 50%;

      @include respond-below(sm) {
        width: 33px;
      }
    }

    &:before {
      left: -200px;

      @include respond-below(lg) {
        left: -130px;
      }

      @include respond-below(md) {
        left: -100px;
      }

      @include respond-below(sm) {
        left: -40px;
      }
    }

    &:after {
      right: -200px;

      @include respond-below(lg) {
        right: -130px;
      }

      @include respond-below(md) {
        right: -100px;
      }

      @include respond-below(sm) {
        right: -40px;
      }
    }

  }

  .blog-tile {
    flex: 1;
    text-align: center;
    max-width: 378px;

    @include respond-below(xl) {
      max-width: 306px;
    }

    @include respond-below(lg) {
      max-width: 236px;
    }

    @include respond-below(md) {
      max-width: 200px;
    }

    @include respond-below(sm) {
      max-width: 100%;
      position: relative;
      margin-bottom: 55px;

      &:before {
        content: "";
        position: absolute;
        background: var(--color-nav-bg);
        width: 100%;
        height: 160px;
        z-index: -1;
        left: 0;
        top: -22px;
      }
    }

    &:nth-child(2) {
      margin: 0 97px;

      @include respond-below(xl) {
        margin: 0 57px;
      }

      @include respond-below(lg) {
        margin: 0 50px;
      }

      @include respond-below(md) {
        margin: 0 14px;
      }

      @include respond-below(sm) {
        margin: 0 0 55px;
      }
    }

    &--image {
      width: 100%;
      height: 346px;

      @include respond-below(xl) {
        height: 280px;
      }

      @include respond-below(lg) {
        height: 216px;
      }

      @include respond-below(md) {
        height: 183px;
      }

      @include respond-below(md) {
        width: 200px;
        height: 183px;
        margin: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--category {
      @include ProximaNova-Light;
      font-size: 18px;
      line-height: 19px;
      letter-spacing: 0.27px;
      margin: 12px 0 10px;

      @include respond-below(xl) {

      }

      @include respond-below(lg) {

      }

      @include respond-below(md) {

      }

      @include respond-below(sm) {
        max-width: 235px;
        margin: 8px auto;
      }
    }

    &--heading {
      text-transform: uppercase;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.6px;
      margin-bottom: 11px;
      min-height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-below(xl) {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.55px;
        min-height: 94px;
      }

      @include respond-below(lg) {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.45px;
        min-height: 82px;
      }

      @include respond-below(md) {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4px;
        min-height: 80px;
      }

      @include respond-below(sm) {
        max-width: 235px;
        margin: 0 auto 12px;
        min-height: auto;
      }
    }

    &--para {
      display: none;
      @include ProximaNova-Light;
      font-size: calcRem(14);
      line-height: calcRem(18);
      margin-top: calcRem(5);

      @include respond-above(sm) {
        font-size: get-vw(22px);
        line-height: get-vw(26px);
        margin-top: get-vw(7px);
      }

      strong {
        @include ProximaNova-Bold;
      }

      a {
        @include ProximaNova-Light;
      }
    }

    .btn {
      @include ProximaNova-Reg;
      border: 1px solid var(--color-black);
    }

  }
}

.more-blog-multirow {
  padding: 0 0 80px;
  margin: 0;


  @include respond-below(md) {
    padding: 0 0 60px;
  }

  @include respond-below(sm) {
    padding: 0;
  }

  @include respond-below(sm) {
    margin-bottom: 0;
    margin-top: -20px;
    &::before {
      background: transparent;
    }
  }
  .blog-tile {
    @include respond-below(sm) {
      margin-bottom: 55px;

      &:not(:first-child) {
        display: block;
      }
    }
  }
}

.pagination {
  display: inline-block;
  width: 100%;
  margin-bottom: 120px;

  // @include respond-above(sm) {
  //   margin-top: get-vw(45px);
  // }

  &--wrapper {
    max-width: calcRem(336);
    width: 100%;
    margin: auto;

    @include respond-above(sm) {
      max-width: get-vw(400px);
    }
  }

  .pagination-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    &--btn {
      width: calcRem(46);
      height: calcRem(27);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-article-bg);
      margin: calcRem(0, 37);

      @include respond-above(sm) {
        width: get-vw(69px);
        height: get-vw(40px);
        margin-left: get-vw(37px);
        margin-right: get-vw(37px);
      }
    }

    &--numbers {
      display: flex;

      li {
        letter-spacing: 12px;
        font-size: 14px;

        a {
          @include ProximaNova-Light;
          font-size: calcRem(19);
          color: var(--color-gray);

          @include respond-above(sm) {
            font-size: get-vw(28px);
          }

          &.active {
            color: var(--color-black);
          }
        }
      }
    }
  }
}

.category-posts {

  &.category-posts--desktop {
    display: block;

    @include respond-below(sm) {
      display: none;
    }
  }

  &.category-posts--mobile {
    display: none;

    @include respond-below(sm) {
      display: block;
    }

    .more-blog {
      padding: 0;
      position: relative;
      margin: 0 0 38px;

      &--wrapper {
        flex-direction: row;
        max-width: 343px;
        margin: auto;
        padding-top: 20px;
        position: initial;

        &:before {
          content: " ";
          position: absolute;
          width: 100%;
          left: 0;
          height: 160px;
          top: 0;
          background: var(--color-article-bg);
        }
      }

      .blog-tile {
        width: 166px;
        margin: 0;

        &:before {
          display: none;
        }

        &--image {
          width: 166px;
          height: 152px;
          margin: 0;
        }
      }
    }
  }

  .more-blog {
    margin: 0 auto 80px;
    max-width: 1132px;
    padding: 37px 0 0;

    @include respond-below(lg) {
      max-width: 932px;
      margin: 0 auto 50px;
    }

    @include respond-below(md) {
      max-width: 768px;
      margin: 0 auto 25px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      height: 247px;
      top: 0;
      background: var(--color-article-bg);

      @include respond-below(lg) {
        height: 199px;
      }
    }

    &--wrapper {
      padding: 0;
      max-width: 1050px;

      @include respond-below(lg) {
        max-width: 808px;
      }

      @include respond-below(md) {
        max-width: 628px;
      }
    }

    .blog-tile {

      &:nth-child(2) {
        margin: 0 66px;

        @include respond-below(lg) {
          margin: 0 50px;
        }

        @include respond-below(md) {
          margin: 0 14px;
        }

        @include respond-below(sm) {
          margin: 0 0 0 11px;
        }
      }

      &--category {

        @include respond-below(md) {
          font-size: 14px;
        }

        @include respond-below(sm) {
          font-size: 11px;
          line-height: 19px;
          letter-spacing: 0.17px;
          max-width: 154px;
        }
      }

      &--heading {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.55px;

        @include respond-below(lg) {
          font-size: 18px;
          line-height: 22px;
          letter-spacing: 0.45px;
        }

        @include respond-below(md) {
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.45px;
        }

        @include respond-below(sm) {
          font-size: 13px;
          line-height: 14px;
          letter-spacing: 0.13px;
          max-width: 154px;
          min-height: 70px;
        }
      }

      .btn {

        @include respond-below(sm) {
          padding: 6.5px 19px;
          font-size: 11px;
        }
      }

    }
  }


}

.see-more--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;


  @include respond-below(lg) {
    margin-bottom: 60px;
  }

  &.disable {
    display: none;
  }
}


