.more-blog {
  position: relative;
  // margin-bottom: calcRem(53);

  // @include respond-above(sm) {
  //   margin-bottom: get-vw(134.3px);
  // }

  padding: 80px 0;

  @include respond-below(lg) {
    padding: 50px 0;
  }

  @include respond-below(md) {
    padding: 25px 0;
  }

  &::before {
    content: "";
    position: absolute;
    background: var(--color-nav-bg);
    width: 100%;
    height: 199px;
    z-index: -1;
    top: 160px;
  }

  // @include respond-above(sm) {
  //   &::before {
  //     height: get-vw(210px);
  //     top: get-vw(110px);
  //   }
  // }

  &.more-blog-multirow {
    &::before {
      top: calcRem(-18);

      @include respond-above(sm) {
        top: get-vw(-38px);
      }
    }
  }

  &--wrapper {
    position: relative;
    z-index: 1;
    // width: calc(var(--width-100) - 46px);
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    @include respond-above(sm) {
      width: get-vw(1330px);
      flex-direction: row;
    }
  }

  &--title {
    position: relative;
    z-index: 1;
    color: var(--color-gray);
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    margin-bottom: calcRem(25);
    @include ProximaNova-Light;
    font-size: 42px;
    letter-spacing: 1px;
    max-width: 516px;

    @include respond-below(lg) {
      font-size: get-vw(52px);
      margin-bottom: get-vw(80px);
      max-width: get-vw(774px);
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 33px;
      height: 1px;
      background: var(--color-gray);
      top: 50%;

      @include respond-above(sm) {
        width: get-vw(159px);
      }
    }

    &:before {
      left: 13px;

      @include respond-above(sm) {
        left: get-vw(-269px);
      }
    }

    &:after {
      right: 13px;

      @include respond-above(sm) {
        right: get-vw(-269px);
      }
    }

  }

  .blog-tile {
    flex: 1;
    padding: calcRem(0, 23);
    max-width: 100%;
    text-align: center;

    // &:not(:last-child) {
    //   margin-bottom: calcRem(30);

    //   @include respond-above(sm) {
    //     margin-bottom: 0;
    //   }
    // }

    &:nth-child(2) {
      @include respond-above(sm) {
        margin-left: get-vw(97px);
        margin-right: get-vw(97px);
      }
    }

    // &:not(:first-child) {
    //   @include respond-below(sm) {
    //     display: none;
    //   }
    // }

    @include respond-above(sm) {
      padding: 0;
      max-width: get-vw(379px);
    }

    &--image {
      width: 100%;
      height: calcRem(249);

      @include respond-above(sm) {
        height: get-vw(346px);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &--category {
      @include ProximaNova-Light;
      font-size: calcRem(15);
      line-height: calcRem(22);
      margin-bottom: calcRem(2);
      margin-top: calcRem(13);

      @include respond-above(sm) {
        font-size: get-vw(25px);
        line-height: get-vw(22px);
        margin-bottom: get-vw(18px);
        margin-top: get-vw(18px);
      }
    }

    &--heading {
      text-transform: uppercase;
    }

    &--para {
      display: none;
      @include ProximaNova-Light;
      font-size: calcRem(14);
      line-height: calcRem(18);
      margin-top: calcRem(5);

      @include respond-above(sm) {
        font-size: get-vw(22px);
        line-height: get-vw(26px);
        margin-top: get-vw(7px);
      }

      strong {
        @include ProximaNova-Bold;
      }

      a {
        @include ProximaNova-Light;
      }
    }

    .btn {
      margin-top: calcRem(30);

      @include respond-above(sm) {
        margin-top: get-vw(49px);
      }
    }
  }
}

.more-blog-multirow {
  @include respond-below(sm) {
    margin-bottom: 0;
    &::before {
      background: transparent;
    }
  }
  .blog-tile {
    @include respond-below(sm) {
      margin-bottom: calcRem(40);
      &:not(:first-child) {
        display: block;
      }
    }
  }
}

.pagination {
  margin-top: calcRem(15px);
  display: inline-block;
  width: 100%;

  @include respond-above(sm) {
    margin-top: get-vw(45px);
  }

  &--wrapper {
    max-width: calcRem(336);
    width: 100%;
    margin: auto;

    @include respond-above(sm) {
      max-width: get-vw(400px);
    }
  }

  .pagination-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    &--btn {
      width: calcRem(46);
      height: calcRem(27);
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-article-bg);
      margin: calcRem(0, 37);

      @include respond-above(sm) {
        width: get-vw(69px);
        height: get-vw(40px);
        margin-left: get-vw(37px);
        margin-right: get-vw(37px);
      }
    }

    &--numbers {
      display: flex;

      li {
        letter-spacing: calcRem(10);

        @include respond-above(sm) {
          letter-spacing: get-vw(12px);
        }

        a {
          @include ProximaNova-Light;
          font-size: calcRem(19);
          color: var(--color-gray);

          @include respond-above(sm) {
            font-size: get-vw(28px);
          }

          &.active {
            color: var(--color-black);
          }
        }
      }
    }
  }
}

.category-posts {
  margin-top: calcRem(23px);

  // @include respond-above(sm) {
  //   margin-top: 0;
  // }

  .more-blog {
    margin-bottom: calcRem(54);

    @include respond-above(sm) {
      margin-bottom: get-vw(90px);
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      height: calcRem(127);
      top: -18px;
      background: var(--color-article-bg);

      @include respond-above(sm) {
        width: 92%;
        left: 4%;
        background: var(--color-article-bg);
        top: get-vw(-30px);
      }
    }

    .blog-tile {
      &:not(:first-child) {
        display: none;

        @include respond-above(sm) {
          display: block;
        }
      }
    }
  }
}

.see-more--wrapper {
  margin-bottom: calcRem(53);
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-above(sm) {
    margin-bottom: get-vw(134.3px);
  }

  &.disable {
    display: none;
  }
}


