.number-title {
  padding: 80px 0;

  @include respond-below(lg) {
    padding: 50px 0;
  }

  @include respond-below(md) {
    padding: 25px 0;
  }

  &--wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;

    @include respond-below(lg) {
      max-width: 918px;
    }

    @include respond-below(md) {
      max-width: 670px;
    }

    @include respond-below(xs) {
      max-width: 335px;
      flex-direction: column;
    }

    .number {
      @include BentonModDisp-Bold;
      font-size: 120px;

      @include respond-below(lg) {
        font-size: 85px;
      }

      &.desktop {
        display: none;

        @include respond-above(md) {
          display: flex;
        }
      }

      &.mobile {
        display: flex;

        @include respond-above(md) {
          display: none;
        }
      }
    }

    .title {
      // flex: 1;
      margin: 0 20px 0 13px;
      width: 455px;
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include respond-below(lg){
        width: 300px;
        margin: 0 30px 0 13px;
      }
      @include respond-below(md){
        margin: 0 30px 0 0;
      }

      span {
        display: inline;
        @include BentonModDisp-Bold;
        font-size: 40px;
        letter-spacing: 0.2px;
        padding: 0 10px;

        background: linear-gradient(0deg, #EBDED5 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);

        @include respond-below(lg){
          font-size: 28px;
          line-height: 30px;
          letter-spacing: 0.14px;
        }
      }

      .sub-head {
        @include ProximaNova-Sbold;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.63px;
        margin-top: 18px;
        text-transform: uppercase;

        @include respond-below(lg){
          font-size: 12px;
          line-height: 22px;
          letter-spacing: 0.42px;
        }
      }
    }

    .content {
      flex: 1;
      display: flex;
      align-items: center;
      border-left: 1px solid var(--color-black);
      padding-left: 58px;
      font-size: 18px;
      line-height: 26px;

      @include respond-below(lg){
        font-size: 16px;
        line-height: 23px;
        padding-left: 30px;
      }

      @include respond-below(xs) {
        padding-left: inherit;
        border-left: inherit;
        border-top: 1px solid var(--color-black);
        padding-top: 20px;
        margin-top: 20px;
      }
    }
  }
}
