.title-body-image {
  padding: 80px 0;

  @include respond-below(lg){
    padding: 50px 0;
  }

  @include respond-below(md){
    padding: 25px 0;
  }
  .wrapper {
    max-width: 1020px;
    margin: 0 auto;

    @include respond-below(lg){
      max-width: 900px;
    }

    @include respond-below(md){
      max-width: 670px;
    }

    @include respond-below(xs){
      max-width: 303px;
    }
  }

  .title-wrapper {
    max-width: 996px;
    margin: 0 auto 38px;

    @include respond-below(lg){
      max-width: 875px;
      margin: 0 auto 28px;
    }

    @include respond-below(md){
      max-width: 635px;
    }

    .title {
      @include ProximaNova-Bold;
      margin-bottom: 28px;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0.7px;

      @include respond-below(lg){
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.63px;
        margin-bottom: 20px;
      }

      @include respond-below(xs){
        margin-bottom: 10px;
      }
    }

    .sub-title {
      font-size: 18px;
      line-height: 26px;

      @include respond-below(lg){
        font-size: 16px;
        line-height: 24px;
      }

      strong {
        @include ProximaNova-Bold;
      }

      a {
        @include ProximaNova-Reg;
        text-decoration: underline;
      }
    }
  }

  .image-bullets {
    display: flex;
    align-items: center;

    .image--wrapper {
      width: 526px;
      height: 413px;
      background-size: cover;

      @include respond-below(lg){
        width: 470px;
        height: 368px;
      }

      @include respond-below(md){
        width: 368px;
        height: 289px;
      }

      @include respond-below(xs){
        display: none;
      }
    }

    .bullets--wrapper {
      flex: 1;
      margin-left: 60px;

      @include respond-below(lg){
        margin-left: 30px;
      }

      @include respond-below(md){
        margin-left: 19px;
      }

      ul {
        list-style-type: disc;
        @include ProximaNova-Bold;
        font-size: 18px;
        line-height: 23px;
        letter-spacing: 0.27px;
        padding-left: 17px;

        @include respond-below(md){
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.24px;
        }

        li {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  .image--wrapper {
    &.mobile {
      display: none;

      @include respond-below(xs) {
        display: flex;
        width: 335px;
        height: 263px;
        background-size: cover;
        margin: 0 auto 10px;
      }
    }
  }
}
