.wacoal-101 {
  margin-bottom: 80px;

  @include respond-below(lg) {
    margin-bottom: 100px;
  }

  @include respond-below(md) {
    margin-bottom: 50px;
  }

  &--wrapper {
    position: relative;
    margin: auto;
    max-width: 1254px;
    padding-top: 20px;
  }

  &--inner-wrapper {
    max-width: 1134px;
    margin: auto;
    display: flex;

    @include respond-below(lg) {
      max-width: 932px;
    }

    @include respond-below(md) {
      max-width: 700px;
    }

    @include respond-below(sm) {
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }

    &::before {
      content: '';
      position: absolute;
      background: var(--color-nav-bg);
      opacity: 0.5;
      width: 100%;
      left: 0;
      top: 0;
      height: 442px;
      z-index: -1;

      @include respond-below(lg) {
        height: 358px;
      }

      @include respond-below(md) {
        height: 279px;
      }

      @include respond-below(sm) {
        height: 565px;
      }
    }
  }

  &--image {
    display: flex;
    width: 568px;
    height: 470px;

    @include respond-below(lg) {
      width: 466px;
      height: 386px;
    }

    @include respond-below(md) {
      width: 350px;
      height: 290px;
    }

    @include respond-below(sm) {
      width: 348px;
      height: 290px;
    }

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }

  &--content {
    background: var(--color-article-bg);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-below(sm) {
      width: 348px;
      height: 290px;
      flex: auto;
    }

    .content-wrapper {
      max-width: 300px;

      @include respond-below(md) {
        max-width: 210px;
      }
    }

    &__title {
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.16px;
      margin-bottom: 29px;

      @include respond-below(lg) {
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0.14px;
        margin-bottom: 24px;
      }

      @include respond-below(md) {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.12px;
        margin-bottom: 20px;
      }
    }
  }

  &--list {
    display: flex;
    align-items: center;
    line-height: 1;

    &:not(:last-child){
      margin-bottom: 30px;

      @include respond-below(lg) {
        margin-bottom: 25px;
      }

      @include respond-below(md) {
        margin-bottom: 22px;
      }
    }

    &__icon {
      display: flex;
      align-items: center;

      img {
        @include respond-below(lg) {
          width: 75%;
        }
      }
    }

    &__content {
      @include BentonModDisp-Regular;
      margin-left: 24px;
      font-size: 35px;

      @include respond-below(lg) {
        font-size: 28px;
        margin-left: 20px;
      }

      @include respond-below(md) {
        font-size: 23px;
        margin-left: 16px;
      }
    }
  }
}
