@charset 'utf-8';

//Vendor
// @import "vendor/__vendor-dir";

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

//Components
@import "components/__components-dir";

//Layout
@import "layouts/__layouts-dir";

@media (min-width: 782px) {
  .wp-block-column:not(:first-child) {
    margin-left: 0;
  }
}

.wp-block-button__link {
  background-color: inherit !important;
  border-radius: inherit;
  font-size: inherit;
  padding: 0;
  display: block;
  color: inherit !important;
}

.wp-block-buttons {
  justify-content: center;
}

.wp-block-buttons > .wp-block-button {
  margin-bottom: 0;
}

.wp-block-column {
  flex-basis: 100% !important;

  &:nth-child(2n) {
    @media (min-width: 600px) and (max-width: 781px) {
      margin-left: 0;
    }
  }
}

.wp-block-columns:not(.is-not-stacked-on-mobile)
  > .wp-block-column:not(:first-child) {
  margin-left: 0;
}
